<div class="wrapper">
    <ng-include src="'../../view/pmg/pmgSidebar.html'"></ng-include>

    <div class="main-panel">
        <ng-include src="'../../view/pmg/pmgHeader.html'"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Personal information">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Customer profile</h4>
                                                </div>
                                                <div class="content">
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Email</div>
                                                        <div class="col-md-8">{{customer.email}}</div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Full name</div>
                                                        <div class="col-md-8">{{customer.firstName}}
                                                            {{customer.secondName}} {{customer.lastName}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Phone</div>
                                                        <div class="col-md-8">{{customer.phone}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Mailing</div>
                                                        <div class="col-md-8"><span
                                                                ng-show="customer.isMailingEnabled">Yes</span><span
                                                                ng-hide="customer.isMailingEnabled">No</span>
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Region</div>
                                                        <div class="col-md-8">{{customer.address.region.nameRegion}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Address</div>
                                                        <div class="col-md-8">{{customer.address.locality}},
                                                            {{customer.address.street}},
                                                            {{customer.address.houseNumber}},
                                                            {{customer.address.apartmentNumber}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row">
                                                        <div class="col-md-4">Status</div>
                                                        <div class="col-md-8">
                                                            {{customer.status}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row" ng-show="isCorporate">
                                                        <div class="col-md-4">Corporate</div>
                                                        <div class="col-md-8">{{customer.corporate.corporateName}}
                                                        </div>
                                                    </div>
                                                    <div class="row customer-profile-row" ng-show="isCorporate">
                                                        <div class="col-md-4">Representative</div>
                                                        <div class="col-md-8"><span
                                                                ng-show="customer.isRepresentative">Yes</span><span
                                                                ng-hide="customer.isRepresentative">No</span>
                                                        </div>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Tariff plan" ng-click="myTariffPlansTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div>
                                                    <div class="header">
                                                        <h4 class="title">Customer tariff plan</h4>
                                                    </div>
                                                    <!--<hr/>-->
                                                    <div class="content">
                                                        <div ng-show="hasCurrentTariff === false">
                                                            <div class="row">
                                                                <h3 style="text-align: center">No current tariff plans
                                                                    available!</h3>
                                                            </div>
                                                        </div>
                                                        <div ng-show="hasCurrentTariff === true">
                                                            <div class="row">
                                                                <h3 style="text-align: center">
                                                                    {{currentTariff.tariff.tariffName}}</h3>
                                                            </div>

                                                            <div class="col-md-9" style="margin: auto;">
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Current status</span></div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.customerProductStatus}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>Roaming</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.roaming}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Calls in network</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.tariff.callsInNetwork}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>Calls on other numbers</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.tariff.callsOnOtherNumbers}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Internet</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.internet}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>SMS</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.sms}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition"><span>MMS</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.mms}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Monthly payment</span></div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.totalPrice}} uah</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--div class="card" ng-show="customer.corporate == undefined">
                                                <div ng-show="availableTariffs.length > 0">
                                                    <div class="header">
                                                        <h4 class="title">Activate tariff plan</h4>
                                                    </div>
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Tariff plan:</label>
                                                                    <md-select ng-model="selectedTariffPlan">
                                                                        <md-option ng-repeat="t in availableTariffs"
                                                                                   value="{{$index}}">{{t.tariffName}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <md-input-container class="md-block">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Price"
                                                                           readonly
                                                                           ng-value="availableTariffs[selectedTariffPlan].price *
                                                                                (1 - availableTariffs[selectedTariffPlan].discount/100)"/>

                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top: 10px;">
                                                                <button class="btn btn-success btn-fill"
                                                                        ng-click="activateClick()">
                                                                    Activate
                                                                </button>
                                                                <button class="btn btn-default btn-fill"
                                                                        ng-click="tariffDetailClick(availableTariffs[selectedTariffPlan].id)">
                                                                    More
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div ng-show="availableTariffs == 0 && customer.corporate != null && customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">There are no available tariff plans</h4>
                                                    </div>
                                                </div>
                                                <div ng-show="availableTariffs == 0 && customer.corporate != null && !customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">Client is not representative!</h4>
                                                    </div>
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Services" ng-click="myServicesTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="container-fluid services-cards">
                                                    <div class="header">
                                                        <h4 class="title">Customer services</h4>
                                                    </div>
                                                    <div ng-show="hasCurrentServices === false">
                                                        <div class="row">
                                                            <h3 style="text-align: center">No current services
                                                                available!</h3>
                                                        </div>
                                                    </div>
                                                    <div ng-show="hasCurrentServices === true">
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <th>Service</th>
                                                            <th>Price</th>
                                                            <th>Status</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="s in currentServices" class="tariff-td">
                                                                <td>{{s.service.serviceName}}</td>
                                                                <td>
                                                                    <p ng-hide="s.service.discount > 0 && s.service.discount < 100">
                                                                        {{s.price | number : 2}}</p>
                                                                    <p ng-show="s.service.discount > 0 && s.service.discount < 100">
                                                                        <s class="red">{{s.price | number : 2}}</s>
                                                                    </p>
                                                                    <p ng-show="s.service.discount > 0 && s.service.discount < 100">
                                                                        {{s.service.price * (1 - s.service.discount /
                                                                        100)
                                                                        | number
                                                                        :2}}
                                                                    </p>
                                                                </td>
                                                                <td ng-class="{red: s.orderStatus == 'DEACTIVATED',
                                                                                green: s.customerProductStatus =='ACTIVE',
                                                                                yellow: s.customerProductStatus == 'SUSPENDED'}">
                                                                    {{s.customerProductStatus}}

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <hr/>
                                            </div>
                                            <!--div class="card">
                                                <div ng-show="availableServices.length > 0">
                                                    <div class="header">
                                                        <h4 class="title">Activate service</h4>
                                                    </div>
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Category:</label>
                                                                    <md-select ng-model="selectedCategoryId"
                                                                               md-on-close="filter()">
                                                                        <md-option ng-repeat="c in categories"
                                                                                   value="{{c.id}}">{{c.categoryName}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Service:</label>
                                                                    <md-select ng-model="selectedServiceId">
                                                                        <md-option ng-repeat="s in servicesList"
                                                                                   value="{{$index}}">{{s.serviceName}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <md-input-container class="md-block">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Price"
                                                                           readonly
                                                                           value="{{availableServices[selectedServiceId].price *
                                                                                (1 - availableServices[selectedServiceId].discount/100)}}"/>

                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-3" style="padding-top: 10px;">
                                                                <button class="btn btn-success btn-fill"
                                                                        ng-click="activateServiceClick()">
                                                                    Activate
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div ng-show="availableServices == 0 && customer.corporate != null && customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">There are no available services</h4>
                                                    </div>
                                                </div>
                                                <div ng-show="availableServices == 0 && customer.corporate != null && !customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">Client is not representative!</h4>
                                                    </div>
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Tariff plans History" ng-click="tariffsHistoryClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div>
                                                    <div class="header">
                                                        <h4 class="title">Tariff plans history</h4>
                                                    </div>
                                                    <hr/>
                                                    <div class="content table-responsive">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="dataTables_length">
                                                                    <md-input-container class="md-block" flex-gt-sm>
                                                                        <label>Show entries:</label>
                                                                        <md-select ng-model="size"
                                                                                   md-on-close="loadTariffsHistory()">
                                                                            <md-option value="5">5</md-option>
                                                                            <md-option value="10">10</md-option>
                                                                            <md-option value="25">25</md-option>
                                                                            <md-option value="50">50</md-option>
                                                                            <md-option value="100">100</md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                            <th>Tariff Plan</th>
                                                            <th>Order Type</th>
                                                            <th>Order Status</th>
                                                            <th>Creation date</th>
                                                            <th>Execution Date</th>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="o in orders" class="tariff-td">
                                                                <td>{{o.customerTariff.tariff.tariffName}}</td>
                                                                <td ng-class="{red: o.type == 'DEACTIVATION',
                                                                                green: o.type =='ACTIVATION' ||
                                                                                o.type == 'RESUMING',
                                                                                yellow: o.type == 'SUSPENSION'}">
                                                                    {{o.type}}
                                                                </td>
                                                                <td ng-class="{red: o.orderStatus == 'CANCELED',
                                                                                green: o.orderStatus =='DONE' ||
                                                                                o.orderStatus == 'CREATED',
                                                                                yellow: o.orderStatus == 'PENDING'}">
                                                                    {{o.orderStatus}}
                                                                </td>
                                                                <td>{{o.creationDate | date:'dd.MM.yyyy'}}</td>
                                                                <td>{{o.executionDate | date:'dd.MM.yyyy'}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <div class="dataTables_paginate paging_simple_numbers">
                                                                    <ul class="pagination">
                                                                        <li class="paginate_button previous">
                                                                            <a aria-controls="tariffTable"
                                                                               data-dt-idx="0"
                                                                               tabindex="0" ng-show="page > 0"
                                                                               ng-click="previousPage()">Previous</a>
                                                                        </li>
                                                                        <li class="paginate_button active"><a
                                                                                aria-controls="tariffTable"
                                                                                data-dt-idx="1"
                                                                                tabindex="0">{{page+1}}</a>
                                                                        </li>
                                                                        <li class="paginate_button next pointable"><a
                                                                                aria-controls="tariffTable"
                                                                                data-dt-idx="2"
                                                                                tabindex="0"
                                                                                ng-show="(page + 1)*size < ordersFound"
                                                                                ng-click="nextPage()">Next</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div>
                                                                    <label><b>Orders found: {{ordersFound}}</b></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Services history" ng-click="servicesHistoryClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="container-fluid services-cards">
                                                    <div>
                                                        <div class="header">
                                                            <h4 class="title">History of my services</h4>
                                                        </div>
                                                        <hr/>
                                                        <div ng-show="servicesOrdersFound === 0">
                                                            <div class="row">
                                                                <h3 style="text-align: center">There were no actions
                                                                    with
                                                                    services yet!</h3>
                                                            </div>
                                                        </div>
                                                        <div ng-show="servicesOrdersFound > 0">
                                                            <div class="content table-responsive">
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <div class="dataTables_length">
                                                                            <md-input-container class="md-block"
                                                                                                flex-gt-sm>
                                                                                <label>Show entries:</label>
                                                                                <md-select ng-model="size"
                                                                                           md-on-close="loadServicesHistory()">
                                                                                    <md-option value="5">5</md-option>
                                                                                    <md-option value="10">10</md-option>
                                                                                    <md-option value="25">25</md-option>
                                                                                    <md-option value="50">50</md-option>
                                                                                    <md-option value="100">100
                                                                                    </md-option>
                                                                                </md-select>
                                                                            </md-input-container>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-striped table-bordered table-hover">
                                                                    <thead>
                                                                    <th>Service</th>
                                                                    <th>Order Type</th>
                                                                    <th>Order Status</th>
                                                                    <th>Creation date</th>
                                                                    <th>Execution Date</th>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr ng-repeat="o in servicesOrders"
                                                                        class="tariff-td">
                                                                        <td>{{o.customerService.service.serviceName}}
                                                                        </td>
                                                                        <td ng-class="{red: o.type == 'DEACTIVATION',
                                                                                green: o.type =='ACTIVATION' ||
                                                                                o.type == 'RESUMING',
                                                                                yellow: o.type == 'SUSPENSION'}">
                                                                            {{o.type}}
                                                                        </td>
                                                                        <td ng-class="{red: o.orderStatus == 'CANCELED',
                                                                                green: o.orderStatus =='DONE' ||
                                                                                o.orderStatus == 'CREATED',
                                                                                yellow: o.orderStatus == 'PENDING'}">
                                                                            {{o.orderStatus}}
                                                                        </td>
                                                                        <td>{{o.creationDate | date:'dd MM yyyy'}}</td>
                                                                        <td>{{o.executionDate | date:'dd MM yyyy'}}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="row">
                                                                    <div class="col-sm-7">
                                                                        <div class="dataTables_paginate paging_simple_numbers">
                                                                            <ul class="pagination">
                                                                                <li class="paginate_button previous">
                                                                                    <a aria-controls="serviceTable"
                                                                                       data-dt-idx="0"
                                                                                       tabindex="0"
                                                                                       ng-show="servicesPage > 0"
                                                                                       ng-click="servicesPreviousPage()">Previous</a>
                                                                                </li>
                                                                                <li class="paginate_button active"><a
                                                                                        aria-controls="serviceTable"
                                                                                        data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                                                                </li>
                                                                                <li class="paginate_button next pointable">
                                                                                    <a
                                                                                            aria-controls="serviceTable"
                                                                                            data-dt-idx="2"
                                                                                            tabindex="0"
                                                                                            ng-show="(servicesPage + 1)*servicesSize < servicesOrdersFound"
                                                                                            ng-click="servicesNextPage()">Next</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-3">
                                                                        <div>
                                                                            <label><b>Orders found:
                                                                                {{servicesOrdersFound}}</b></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright">
                        &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
