<div class="wrapper">
  <div class="form">
    <div class="transition-container">
      <ul class="options">
        <li [class.active]="active === 'login'"
            (click)="active = 'login'">Sign in
        </li>
        <li [class.active]="active === 'register'"
            (click)="active = 'register'">Register
        </li>
        <li [class.active]="active === 'reset'"
            (click)="active = 'reset;'">Reset account
        </li>
      </ul>
    </div>

    <form [formGroup]="loginForm"
          (ngSubmit)="loginUser(loginForm.value)"
          *ngIf="active === 'login'" autocomplete="off" novalidate>
      <input [ngClass]="{'error': !isFieldValid(loginFormUserName)}"
             formControlName="userName"
             type="text" placeholder="Username"/>
      <input [ngClass]="{'error': !isFieldValid(loginFormPassword)}"
             formControlName="password"
             type="password" placeholder="password"/>
      <button [disabled]="loginForm.invalid"
              [ngClass]="{'button-if-invalidForm': loginForm.invalid,
              'button-if-form-ok': !loginForm.invalid}"
              type="submit">login
      </button>
    </form>

    <form [formGroup]="registerForm"
          (ngSubmit)="registerUser(registerForm.value)"
          *ngIf="active === 'register'" autocomplete="off" novalidate>
      <input type="text"
             [ngClass]="{'error': !isFieldValid(registerFormUserName)}"
             formControlName="userName" placeholder="Username"/>
      <input type="password"
             [ngClass]="{'error': !isFieldValid(registerFormPassword)}"
             formControlName="password" placeholder="password"/>
      <input type="text"
             [ngClass]="{'error': !isFieldValid(email)}"
             formControlName="email" placeholder="email address"/>
      <button [disabled]="registerForm.invalid || disabled"
              [ngClass]="{'button-if-invalidForm': registerForm.invalid,
              'button-if-form-ok': !registerForm.invalid}"
              type="submit">create
      </button>
    </form>
  </div>
</div>
