<div class="wrapper">
    <ng-include src="'../../view/csr/csrSidebar.html'"></ng-include>

    <div class="main-panel">
        <ng-include src="'../../view/csr/csrHeader.html'"></ng-include>
        <div class="content">
            <div class="container-fluid">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Complaints/Suggestions">
                                <md-content class="md-padding">
                                    <!--CUSTOMER COMPLAINTS-->
                                    <div class="row" ng-show="selected === 'customerSelected'">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <i class="fa fa-times close-registration-form"
                                                   ng-click="selected = ''">
                                                </i>
                                                <div class="header">
                                                    <h4 class="title">Customer Complaints/Suggestions</h4>

                                                </div>
                                                <hr />

                                                <div class="content table-responsive ">
                                                    <label>Email</label><br>
                                                    <p>{{selectedCustomer.email}}</p><br>
                                                    <label>Name</label><br>
                                                    <p>{{customer.lastName}} {{customer.firstName}} {{customer.secondName}}</p><br>
                                                    <label>Phone</label><br>
                                                    <p>{{customer.phone}}</p><br>
                                                    <label>Address</label><br>
                                                    <p>{{customer.address}}</p><br>
                                                    <table class="table table-striped table-bordered table-hover" id="customerComplaintsTable">
                                                        <!--id-->
                                                        <col width="5%">
                                                        <!--date-->
                                                        <col width="10%">
                                                        <!--type-->
                                                        <col width="10%">
                                                        <!--status-->
                                                        <col width="10%">
                                                        <!--subject-->
                                                        <col width="15%">
                                                        <!--description-->
                                                        <col width="35%">
                                                        <thead>
                                                        <th>ID</th>
                                                        <th>Date</th>
                                                        <th>Category</th>
                                                        <th>Status</th>
                                                        <th>Subject</th>
                                                        <th>Description</th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="c in customerComplaints">
                                                            <td>{{c.id}}</td>
                                                            <td>{{c.date}}</td>
                                                            <td>{{c.type}}</td>
                                                            <td>{{c.status}}</td>
                                                            <td>{{c.subject}}</td>
                                                            <td>
                                                                <textarea readonly style="resize: vertical; width: 100%">{{c.text}}</textarea>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <div class="dataTables_paginate paging_simple_numbers"
                                                                 id="customer_complaints_table_paginate">
                                                                <ul class="pagination">
                                                                    <li class="paginate_button previous" id="customerComplaintsTable_previous">
                                                                        <a aria-controls="customerComplaintsTable" data-dt-idx="0"
                                                                           tabindex="0" ng-show="customerPage > 0"
                                                                           ng-click="customerPreviousPage()">Previous</a>
                                                                    </li>
                                                                    <li class="paginate_button active"><a
                                                                            aria-controls="customerComplaintsTable"
                                                                            data-dt-idx="1" tabindex="0">{{customerPage + 1}}</a>
                                                                    </li>
                                                                    <li class="paginate_button next pointable" id="customerComplaintsTable_next">
                                                                        <a
                                                                                aria-controls="customerComplaintsTable" data-dt-idx="2"
                                                                                tabindex="0" ng-show="(customerPage + 1) * size < customerComplaintsCount"
                                                                                ng-click="customerNextPage()">Next</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div>
                                                                <label><b>Customer complaints count: {{customerComplaintsCount}}</b></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--ALL COMPLAINTS-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Complaints/Suggestions</h4>
                                                    <p class="category">All complaints</p>
                                                </div>
                                                <hr />
                                                <div class="col-sm-4">
                                                    <div class="dataTables_length" id="tariffTable_length">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Show entries:</label>
                                                            <md-select ng-model="size" md-on-close="updateData()">
                                                                <md-option value="5">5</md-option>
                                                                <md-option value="10">10</md-option>
                                                                <md-option value="25">25</md-option>
                                                                <md-option value="50">50</md-option>
                                                                <md-option value="100">100</md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="dataTables_length">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Category:</label>
                                                            <md-select ng-model="currentCategory" md-on-close="updateData()" >
                                                                <md-option value="-">ALL_CATEGORIES</md-option>
                                                                <md-option ng-repeat="c in complaintCategories" value="{{c}}">
                                                                    {{c}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="content table-responsive ">
                                                    <table class="table table-striped table-bordered table-hover" id="complaintsTable">
                                                        <!--id-->
                                                        <col width="5%">
                                                        <!--client-->
                                                        <col width="15%">
                                                        <!--date-->
                                                        <col width="10%">
                                                        <!--type-->
                                                        <col width="10%">
                                                        <!--status-->
                                                        <col width="10%">
                                                        <!--subject-->
                                                        <col width="15%">
                                                        <!--description-->
                                                        <col width="35%">
                                                        <thead>
                                                        <th>ID</th>
                                                        <th>Client</th>
                                                        <th>Date</th>
                                                        <th>Category</th>
                                                        <th>Status</th>
                                                        <th>Subject</th>
                                                        <th>Description</th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="c in complaints">
                                                            <td>{{c.id}}</td>
                                                            <td>
                                                                <a href="" ng-click="customerData(c.user.id, c.user.email)">{{c.user.email}}</a>
                                                            </td>
                                                            <td>{{c.date}}</td>
                                                            <td>{{c.type}}</td>
                                                            <td>{{c.status}}</td>
                                                            <td>{{c.subject}}</td>
                                                            <td>
                                                                <textarea readonly style="resize: vertical; width: 100%">{{c.text}}</textarea>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <div class="dataTables_paginate paging_simple_numbers"
                                                                 id="complaints_table_paginate">
                                                                <ul class="pagination">
                                                                    <li class="paginate_button previous" id="complaintsTable_previous">
                                                                        <a aria-controls="complaintsTable" data-dt-idx="0"
                                                                           tabindex="0" ng-show="page > 0"
                                                                           ng-click="previousPage()">Previous</a>
                                                                    </li>
                                                                    <li class="paginate_button active"><a
                                                                            aria-controls="complaintsTable"
                                                                            data-dt-idx="1" tabindex="0">{{page + 1}}</a>
                                                                    </li>
                                                                    <li class="paginate_button next pointable" id="complaintsTable_next">
                                                                        <a  aria-controls="complaintsTable" data-dt-idx="2"
                                                                            tabindex="0" ng-show="(page + 1) * size < complaintsCount"
                                                                            ng-click="nextPage()">Next</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div>
                                                                <label><b>Complaints count: {{complaintsCount}}</b></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </md-content>
                            </md-tab>
                            <md-tab label="Create complaint/suggestion">
                                <md-content class="md-padding">
                                    <!--CREATE COMPLAINT-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">

                                                <div class="header">
                                                    <h4 class="title">Complaints/Suggestions</h4>
                                                    <p class="category">Create complaint/suggestion</p>
                                                </div>
                                                <div class="content">
                                                    <form name="createComplaintForm" id="createComplaintForm"
                                                          autocomplete="off" novalidate ng-submit="createComplaint()">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <md-input-container class="md-block">
                                                                    <input type="text" placeholder="User email" name="userEmail"
                                                                           ng-model="complaint.user.email" ng-pattern="emailPattern" required/>
                                                                    <div ng-messages="createComplaintForm.userEmail.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            It doesn't look like a valid email
                                                                        </div>
                                                                        <div ng-message="required">
                                                                            User email is required.
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Category</label>
                                                                    <md-select ng-model="complaint.type" name="complaintCategory" required>
                                                                        <md-option ng-repeat="c in complaintCategories" value="{{c}}">
                                                                            {{c}}
                                                                        </md-option>
                                                                    </md-select>
                                                                    <div ng-messages="createComplaintForm.complaintCategory.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="required">
                                                                            Category is required.
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <md-input-container class="md-block">
                                                                    <input type="text" placeholder="Complaint subject" name="complaintSubject"
                                                                           ng-model="complaint.subject" md-maxlength="150" required/>
                                                                    <div ng-messages="createComplaintForm.complaintSubject.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="required">
                                                                            Subject is required.
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <md-input-container class="md-block">
                                                <textarea rows="5" cols="50" type="text" class="form-control"
                                                          placeholder="Description" name="description"
                                                          ng-model="complaint.text" md-maxlength="1000" required>
                                                </textarea>
                                                                    <div ng-messages="createComplaintForm.description.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="required">
                                                                            Description is required.
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>

                                                        <button class="btn btn-info btn-fill pull-left" type="submit"
                                                                ng-disabled="createComplaintForm.$invalid">Create complaint/suggestion
                                                        </button>
                                                        <div class="clearfix"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>
    </div>
</div>
