<div class="wrapper">
    <ng-include src="'../../view/csr/csrSidebar.html'"></ng-include>
    <div class="main-panel">
        <ng-include src="'../../view/csr/csrHeader.html'"></ng-include>
        <div class="content">
            <div class="container-fluid">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <!--<md-tab label="Customers in {{corporation.corporateName}}">-->
                            <md-tab label="Customers">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">{{corporation.corporateName}} details</h4>
                                                </div>
                                                <hr/>
                                                <div class="content table-responsive">
                                                    <table id="customersTable" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                        <th>Email</th>
                                                        <th>Name</th>
                                                        <th>Second name</th>
                                                        <th>Last name</th>
                                                        <th></th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="c in customers">
                                                            <td>{{c.email}}</td>
                                                            <td>{{c.firstName}}</td>
                                                            <td>{{c.secondName}}</td>
                                                            <td>{{c.lastName}}</td>
                                                            <td>
                                                                <button class="btn btn-default btn-fill" ng-click="deleteCustomerFromCompany(c)">Remove</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <!--<md-tab label="Add customer to company">-->
                            <md-tab label="Add customers" ng-click="addCustomersTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Add customers to {{corporation.corporateName}}:</h4>
                                                </div>
                                                <hr/>
                                                <div class="content table-responsive" style="height: 400px; overflow-y: scroll">
                                                    <table id="customersTableWithoutCorporation" class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                        <th>Email</th>
                                                        <th>Name</th>
                                                        <th>Second name</th>
                                                        <th>Last name</th>
                                                        <th></th>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="c in customersWithoutCorporation">
                                                            <td>{{c.email}}</td>
                                                            <td>{{c.firstName}}</td>
                                                            <td>{{c.secondName}}</td>
                                                            <td>{{c.lastName}}</td>
                                                            <td>
                                                                <button class="btn btn-default btn-fill" ng-click="addCustomerToCompany(c)">Add</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <pagination
                                                        ng-model="currentPage"
                                                        total-items="customersWithoutCorporation.length"
                                                        max-size="maxSize"
                                                        boundary-links="true">
                                                </pagination>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Tariff plan" ng-click="myTariffPlansTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div>
                                                    <div class="header">
                                                        <h4 class="title">Customer tariff plan</h4>
                                                    </div>
                                                    <!--<hr/>-->
                                                    <div class="content">
                                                        <div ng-show="hasCurrentTariff === false">
                                                            <div class="row">
                                                                <h3 style="text-align: center">No current tariff plans
                                                                    available!</h3>
                                                            </div>
                                                        </div>
                                                        <div ng-show="hasCurrentTariff === true">
                                                            <div class="row">
                                                                <h3 style="text-align: center">
                                                                    {{currentTariff.tariff.tariffName}}</h3>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <button style="width: 100%"
                                                                        class="btn btn-danger btn-fill pull-left"
                                                                        ng-click="showDeactivationModalWindow(currentTariff, loadTariff, loadTariffsHistory, preloader)">
                                                                    Deactivate
                                                                </button>
                                                                <button style="width: 100%"
                                                                        class="btn btn-toggle btn-fill pull-left"
                                                                        ng-show="currentTariff.customerProductStatus === 'ACTIVE'"
                                                                        ng-click="showSuspensionModalWindow(currentTariff, daysToExecution, loadTariff, loadTariffsHistory, preloader)">
                                                                    Suspend
                                                                </button>
                                                                <button style="width: 100%"
                                                                        class="btn btn-success btn-fill pull-left"
                                                                        ng-show="currentTariff.customerProductStatus === 'SUSPENDED'"
                                                                        ng-click="resumeTariffClick()">
                                                                    Resume
                                                                </button>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Current status</span></div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.customerProductStatus}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>Roaming</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.roaming}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Calls in network</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.tariff.callsInNetwork}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>Calls on other numbers</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value">
                                                                        <span><b>{{currentTariff.tariff.callsOnOtherNumbers}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition"><span>Roaming</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.roaming}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Internet</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.internet}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition"><span>SMS</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.sms}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-two">
                                                                    <div class="col-md-8 condition"><span>MMS</span>
                                                                    </div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.mms}}</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="row row-one">
                                                                    <div class="col-md-8 condition">
                                                                        <span>Monthly payment</span></div>
                                                                    <div class="col-md-4 conditions-value"><span><b>{{currentTariff.totalPrice}} uah</b></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div ng-show="availableTariffs.length > 0">
                                                    <div class="header">
                                                        <h4 class="title">Activate tariff plan</h4>
                                                    </div>
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Tariff plan:</label>
                                                                    <md-select ng-model="selectedTariffPlan">
                                                                        <md-option ng-repeat="t in availableTariffs"
                                                                                   value="{{$index}}">{{t.tariffName}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <md-input-container class="md-block">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Price"
                                                                           readonly
                                                                           ng-value="availableTariffs[selectedTariffPlan].price *
                                                                                (1 - availableTariffs[selectedTariffPlan].discount/100)"/>

                                                                </md-input-container>
                                                            </div>
                                                            <div class="col-md-4" style="padding-top: 10px;">
                                                                <button class="btn btn-success btn-fill"
                                                                        ng-click="activateClick()">
                                                                    Activate
                                                                </button>
                                                                <button class="btn btn-default btn-fill"
                                                                        ng-click="tariffDetailClick(availableTariffs[selectedTariffPlan].id)">
                                                                    More
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                <div ng-show="availableTariffs == 0 && customer.corporate != null && customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">There are no available tariff plans</h4>
                                                    </div>
                                                </div>
                                                <div ng-show="availableTariffs == 0 && customer.corporate != null && !customer.isRepresentative">
                                                    <div class="header">
                                                        <h4 class="title">Client is not representative!</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright">
                &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
            </p>
        </div>
    </footer>
</div>
