<div class="wrapper">
    <ng-include src="'../../view/csr/csrSidebar.html'"></ng-include>
    <div class="main-panel">
        <ng-include src="'../../view/csr/csrHeader.html'"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div >
                            <div class="card" ng-hide="editing">
                                <div class="header">
                                    <h4 class="title">Companies</h4>
                                </div>
                                <hr/>
                                <div class="content table-responsive">
                                    <div class="col-sm-4">
                                        <div class="dataTables_length" id="tariffTable_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Show entries:</label>
                                                <md-select ng-model="size" md-on-close="updateData()">
                                                    <md-option value="5">5</md-option>
                                                    <md-option value="10">10</md-option>
                                                    <md-option value="25">25</md-option>
                                                    <md-option value="50">50</md-option>
                                                    <md-option value="100">100</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dataTables_length">
                                            <md-input-container>
                                                <label>Corporation name</label>
                                                <input ng-model="partOfName" ng-blur="getAll()">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <table id="servicesTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th></th>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="c in corporations">
                                            <td>{{c.id}}</td>
                                            <td>{{c.corporateName}}</td>
                                            <td>
                                                <button class="btn btn-default btn-fill" ng-click="editClick(c)">Edit</button>
                                                <button class="btn btn-default btn-fill" ng-click="detailsClick(c)">Details</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="corporationTable_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous" id="corporationTable_previous">
                                                        <a aria-controls="tariffTable" data-dt-idx="0"
                                                           tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
                                                    </li>
                                                    <li class="paginate_button active"><a
                                                            aria-controls="corporationTable"
                                                            data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                                    </li>
                                                    <li class="paginate_button next pointable" id="corporationTable_next"><a
                                                            aria-controls="tariffTable" data-dt-idx="2"
                                                            tabindex="0" ng-show="(page + 1)*size < corporationSelected"
                                                            ng-click="nextPage()">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label><b>Corporations founded: {{corporationsSelected}}</b></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card" ng-hide="editing">
                                <div class="header">
                                    <h4 class="title">Add Corporation</h4>
                                </div>
                                <div class="content">
                                    <form name="corporationsForm" id="corporationsForm"
                                          autocomplete="off" novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="md-block">
                                                    <input type="text" placeholder="Corporation name" name="corporationName"
                                                           ng-model="corporation.corporateName"
                                                           required/>
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <button class="btn btn-info btn-fill pull-left"
                                                ng-disabled="corporationsForm.$invalid"
                                                ng-click="createCorporation()">Add corporation
                                        </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="card" ng-show="editing">
                                <div class="header">
                                    <h4 class="title">Edit Corporation</h4>
                                </div>
                                <div class="content">
                                    <form name="editCorporationsForm" id="editCorporationsForm"
                                          autocomplete="off" novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <md-input-container class="md-block">
                                                    <input type="text" placeholder="Corporation name" name="corporationName"
                                                           ng-model="editCorporation.corporateName"
                                                           required/>
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <button class="btn btn-info btn-fill pull-left"
                                                ng-disabled="editCorporationsForm.$invalid"
                                                ng-click="saveCorporation()">Save corporation
                                        </button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright">
                &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
            </p>
        </div>
    </footer>
</div>
