<div class="sidebar" data-color="purple">

    <div class="sidebar-wrapper" data-color="azure">
        <div class="logo">
            <a href="/#/index" class="simple-text">
                Phone Company
            </a>
            <span class="close-sidebar fa fa-times"></span>
        </div>

        <ul class="nav">
            <li ng-class="{'active': activePage == 'profile'}">
                <a href="/#/csr">
                    <i class="pe-7s-user"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li ng-class="{'active': activePage == 'tariffs'}">
                <a href="/#/csr/tariffs">
                    <i class="pe-7s-note2"></i>
                    <p>Tariffs</p>
                </a>
            </li>
            <li ng-class="{'active': activePage == 'services'}">
                <a href="/#/csr/services">
                    <i class="pe-7s-note"></i>
                    <p>Services</p>
                </a>
            </li>
            <li ng-class="{'active': activePage == 'complaints'}">
                <a href="/#/csr/complaints">
                    <i class="pe-7s-attention"></i>
                    <p>Complaints</p>
                </a>
            </li>
            <li ng-class="{'active': activePage == 'corporations'}">
                <a href="/#/csr/corporations">
                    <i class="pe-7s-portfolio"></i>
                    <p>Corporations</p>
                </a>
            </li>
            <li ng-class="{'active': activePage == 'customers'}">
                <a href="/#/csr/clients">
                    <i class="pe-7s-users"></i>
                    <p>Clients</p>
                </a>
            </li>
        </ul>
    </div>
</div>