<div class="wrapper">
    <ng-include src="'../../view/csr/csrSidebar.html'"></ng-include>

    <div class="main-panel">
        <ng-include src="'../../view/csr/csrHeader.html'"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Orders</h4>
                            </div>
                            <hr />
                            <div class="header">
                                <h4 class="title">Client orders</h4>
                                <p class="category">All tariffs</p>
                            </div>
                            <div class="content table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <th>Tariff</th>
                                        <th>Client</th>
                                        <th>Order date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                            <td>...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="header">
                                <p class="category">All services</p>
                            </div>
                            <div class="content table-responsive">
                                <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                    <th>Service</th>
                                    <th>Client</th>
                                    <th>Order date</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="header">
                                <h4 class="title">Corporate orders</h4>
                                <p class="category">All tariffs</p>
                            </div>
                            <div class="content table-responsive">
                                <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                    <thead>
                                        <th>Tariff</th>
                                        <th>Corporate</th>
                                        <th>Order date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                        <td>...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>
    </div>
</div>