<div class="wrapper">
    <div class="sidebar" data-color="purple">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/#/index" class="simple-text">
                    Phone Company
                </a>
                <span class="close-sidebar fa fa-times"></span>
            </div>

            <ul class="nav">
                <li>
                    <a href="/#/csr">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/tariffs">
                        <i class="pe-7s-note2"></i>
                        <p>Tariffs</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/#/csr/services">
                        <i class="pe-7s-note"></i>
                        <p>Services</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/orders">
                        <i class="pe-7s-cart"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/complaints">
                        <i class="pe-7s-attention"></i>
                        <p>Complaints</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/corporations">
                        <i class="pe-7s-attention"></i>
                        <p>Corporations</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="sidebar-controls navbar-brand">
                        <span class="fa fa-tasks"></span>
                    </div>
                    <h3 class="navbar-brand page-role-title">CSR page</h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-hide="editing">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Additional Services</h4>
                                    <p class="category">Additional services</p>
                                </div>
                                <hr/>
                                <div class="row" style="padding-left: 15px">
                                    <div class="col-sm-4">
                                        <div class="dataTables_length" id="servicesTable_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Show entries:</label>
                                                <md-select ng-model="size" md-on-close="updateData()">
                                                    <md-option value="5">5</md-option>
                                                    <md-option value="10">10</md-option>
                                                    <md-option value="25">25</md-option>
                                                    <md-option value="50">50</md-option>
                                                    <md-option value="100">100</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="dataTables_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Category:</label>
                                                <md-select ng-model="currentCategory" md-on-close="updateData()">
                                                    <md-option value="0">All Categories</md-option>
                                                    <md-option ng-repeat="c in categories" value="{{c.id}}">
                                                        {{c.categoryName}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="content table-responsive">
                                    <table id="servicesTable" class="table table-striped table-bordered table-hover">
                                        <!--name-->
                                        <col width="20%">
                                        <!--region price-->
                                        <col width="10%">
                                        <!--status-->
                                        <col width="15%">
                                        <!--calls-->
                                        <col width="10%">
                                        <!--sms-->
                                        <col width="20%">
                                        <!--date-->
                                        <col width="15%">
                                        <thead>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Discount</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="s in services">
                                            <td>{{s.serviceName}}</td>
                                            <td>{{s.price}}</td>
                                            <td>{{s.productStatus}}</td>
                                            <td>{{s.discount}}%</td>
                                            <td>{{s.productCategory.categoryName}}</td>
                                            <td>
                                                <button ng-show="s.productStatus === 'DEACTIVATED'"
                                                        class="btn btn-success btn-sm btn-fill pull-left"
                                                        ng-click="activateService($index)">Activate
                                                </button>
                                                <button ng-show="s.productStatus === 'ACTIVATED'"
                                                        class="btn btn-danger btn-sm btn-fill pull-left"
                                                        ng-click="deactivateService($index)">Deactivate
                                                </button>
                                                <button class="btn btn-toggle btn-sm btn-fill pull-right"
                                                        ng-click="editService(s.id)">Edit
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="services_table_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous" id="tariffTable_previous">
                                                        <a aria-controls="servicesTable" data-dt-idx="0"
                                                           tabindex="0" ng-show="page > 0"
                                                           ng-click="previousPage()">Previous</a>
                                                    </li>
                                                    <li class="paginate_button active"><a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">{{page + 1}}</a>
                                                    </li>
                                                    <li class="paginate_button next pointable" id="servicesTable_next">
                                                        <a
                                                                aria-controls="servicesTable" data-dt-idx="2"
                                                                tabindex="0" ng-show="(page + 1) * size < servicesCount"
                                                                ng-click="nextPage()">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <label><b>Services count: {{servicesCount}}</b></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--ADD NEW SERVICE-->
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Add Service</h4>
                                </div>
                                <div class="content">
                                    <form name="servicesForm" id="servicesForm"
                                          autocomplete="off" novalidate>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <md-input-container class="md-block">
                                                        <input md-maxlength="15" type="text"
                                                               placeholder="Service name" name="serviceName"
                                                               ng-model="currentService.serviceName"
                                                               required/>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <md-input-container class="md-block">
                                                        <input type="number" placeholder="Price" name="price"
                                                               ng-model="currentService.price"
                                                               ng-pattern="numberPattern" required/>

                                                        <div ng-messages="servicesForm.price.$error" role="alert"
                                                             multiple>
                                                            <div ng-message="pattern">
                                                                This field should be in decimal format, like 99.99 and
                                                                not be negative
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-md-6">
                                                    <md-input-container class="md-block">
                                                        <input type="number" placeholder="Duration in days"
                                                               name="durationInDays"
                                                               ng-model="currentService.durationInDays"
                                                               ng-pattern="notNegativeIntegerPattern"/>

                                                        <div ng-messages="servicesForm.durationInDays.$error"
                                                             role="alert"
                                                             multiple>
                                                            <div ng-message="pattern">
                                                                This field can only contain positive integers
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <md-input-container class="md-block">
                                                <textarea placeholder="Preview description"
                                                          ng-model="currentService.previewDescription"
                                                          name="description" md-maxlength="30"></textarea>
                                                        <div ng-messages="currentService.previewDescription.$error"
                                                             role="alert">
                                                            <div ng-message="md-maxlength">
                                                                Sorry, but your message is too verbose!
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <div class="col-md-6">
                                                    <md-input-container class="md-block">
                                                <textarea placeholder="Description"
                                                          ng-model="currentService.description"
                                                          name="description" md-maxlength="300"></textarea>
                                                        <div ng-messages="currentService.description.$error"
                                                             role="alert">
                                                            <div ng-message="md-maxlength">
                                                                Sorry, but your message is too verbose!
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <md-input-container class="md-block">
                                                        <input type="number" placeholder="Discount"
                                                               ng-model="currentService.discount" name="discount"
                                                               ng-pattern="discountPattern" required/>

                                                        <div ng-messages="servicesForm.discount.$error" role="alert"
                                                             multiple>
                                                            <div ng-message="pattern">
                                                                This field can only contain numbers from 0 to 1
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="col-md-12">
                                                        <div class="col-md-6">
                                                            <md-input-container class="md-block">
                                                                <md-select required
                                                                           placeholder="Category"
                                                                           ng-change="specifyUnits()"
                                                                           ng-model="currentService.productCategory.categoryName">
                                                                    <md-option ng-repeat="c in categories"
                                                                               value="{{c.categoryName}}">
                                                                        {{c.categoryName}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <md-input-container ng-show="units"
                                                                                class="md-block">
                                                                <input type="number"
                                                                       placeholder="Amount, {{units}}"
                                                                       name="amount"
                                                                       value="1"
                                                                       ng-model="currentService.amount"
                                                                       ng-pattern="notNegativeIntegerPattern"/>
                                                                <div ng-messages="servicesForm.amount.$error"
                                                                     role="alert"
                                                                     multiple>
                                                                    <div ng-message="pattern">
                                                                        This field can only contain positive integers
                                                                    </div>
                                                                </div>
                                                            </md-input-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div style="margin-left: 20px" class="col-md-offset-1">
                                                    <img ng-src="{{currentService.pictureUrl}}" alt="">
                                                    <md-button class="md-raised md-primary upload_photo"
                                                               ng-click="uploadPicture()">
                                                        <i class="fa fa-upload" aria-hidden="true"></i>Upload picture
                                                    </md-button>
                                                </div>
                                                <div>
                                                    <br/>
                                                    <input type="file" name="fileInput" id="fileInput"
                                                           onchange="angular.element(this).scope().fileChanged(event)"/>
                                                </div>
                                                <div class="bg_crop_modal" ng-show="imageCropStep == 2"
                                                     ng-click="clear()"></div>
                                                <div ng-show="imageCropStep == 2" class="crop_files_images">
                                                    <image-crop
                                                            data-height="240"
                                                            data-width="360"
                                                            data-shape="square"
                                                            data-step="imageCropStep"
                                                            src="imgSrc"
                                                            data-result="currentService.pictureUrl"
                                                            data-result-blob="resultBlob"
                                                            crop="initCrop"
                                                            padding="250"
                                                            max-size="1024"
                                                    ></image-crop>
                                                    <br/>
                                                    <div class="wrp_crop_img_btn">
                                                        <md-button class="md-raised md-primary" ng-click="clear()">
                                                            Cancel
                                                        </md-button>
                                                        <md-button class="md-raised md-primary"
                                                                   ng-click="initCrop = true">
                                                            Crop
                                                        </md-button>
                                                    </div>
                                                </div>
                                                <div style="margin-left: 40px" class="col-md-offset-1">
                                                    <button class="btn btn-info btn-fill pull-left"
                                                            ng-disabled="servicesForm.$invalid"
                                                            ng-click="addService()">Add service
                                                    </button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--EDIT SERVICE-->
                        <div ng-show="editing" class="card">
                            <div class="header">
                                <h4 class="title">Edit Service</h4>
                            </div>
                            <div class="content">
                                <form name="editServicesForm" id="editServicesForm"
                                      autocomplete="off" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <md-input-container class="md-block">
                                                    <input md-maxlength="15" type="text"
                                                           placeholder="Service name" name="serviceName"
                                                           ng-model="serviceToEdit.serviceName"
                                                           required/>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <md-input-container class="md-block">
                                                    <input type="number" placeholder="Price" name="price"
                                                           ng-model="serviceToEdit.price"
                                                           ng-pattern="numberPattern" required/>

                                                    <div ng-messages="editServicesForm.price.$error" role="alert"
                                                         multiple>
                                                        <div ng-message="pattern">
                                                            This field should be in decimal format, like 99.99 and
                                                            not be negative
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-6">
                                                <md-input-container class="md-block">
                                                    <input type="number" placeholder="Duration in days"
                                                           name="durationInDays"
                                                           ng-model="serviceToEdit.durationInDays"
                                                           ng-pattern="notNegativeIntegerPattern"/>

                                                    <div ng-messages="editServicesForm.durationInDays.$error"
                                                         role="alert"
                                                         multiple>
                                                        <div ng-message="pattern">
                                                            This field can only contain positive integers
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <md-input-container class="md-block">
                                                <textarea placeholder="Preview description"
                                                          ng-model="serviceToEdit.previewDescription"
                                                          name="description" md-maxlength="30"></textarea>
                                                    <div ng-messages="editServicesForm.previewDescription.$error"
                                                         role="alert">
                                                        <div ng-message="md-maxlength">
                                                            Sorry, but your message is too verbose!
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div class="col-md-6">
                                                <md-input-container class="md-block">
                                                <textarea placeholder="Description"
                                                          ng-model="serviceToEdit.description"
                                                          name="description" md-maxlength="300"></textarea>
                                                    <div ng-messages="editServicesForm.description.$error"
                                                         role="alert">
                                                        <div ng-message="md-maxlength">
                                                            Sorry, but your message is too verbose!
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <md-input-container class="md-block">
                                                    <input type="number" placeholder="Discount"
                                                           ng-model="serviceToEdit.discount" name="discount"
                                                           ng-pattern="discountPattern" required/>

                                                    <div ng-messages="editServicesForm.discount.$error" role="alert"
                                                         multiple>
                                                        <div ng-message="pattern">
                                                            This field can only contain numbers from 0 to 1
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <md-input-container class="md-block" flex-gt-sm>
                                                            <label>Category:</label>
                                                            <md-select required
                                                                       ng-change="specifyUnits()"
                                                                       ng-model="serviceToEdit.productCategory.categoryName">
                                                                <md-option ng-repeat="c in categories"
                                                                           value="{{c.categoryName}}">
                                                                    {{c.categoryName}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="margin-left: 20px" class="col-md-offset-1">
                                                <img ng-src="{{serviceToEdit.pictureUrl}}" alt="">
                                                <md-button class="md-raised md-primary upload_photo"
                                                           ng-click="uploadPicture()">
                                                    <i class="fa fa-upload" aria-hidden="true"></i>Upload picture
                                                </md-button>
                                            </div>
                                            <div class="bg_crop_modal" ng-show="imageCropStep == 2"
                                                 ng-click="clear()"></div>
                                            <div ng-show="imageCropStep == 2" class="crop_files_images">
                                                <image-crop
                                                        data-height="240"
                                                        data-width="360"
                                                        data-shape="square"
                                                        data-step="imageCropStep"
                                                        src="imgSrc"
                                                        data-result="currentService.pictureUrl"
                                                        data-result-blob="resultBlob"
                                                        crop="initCrop"
                                                        padding="250"
                                                        max-size="1024"
                                                ></image-crop>
                                                <br/>
                                                <div class="wrp_crop_img_btn">
                                                    <md-button class="md-raised md-primary" ng-click="clear()">
                                                        Cancel
                                                    </md-button>
                                                    <md-button class="md-raised md-primary"
                                                               ng-click="initCrop = true">
                                                        Crop
                                                    </md-button>
                                                </div>
                                            </div>
                                            <div style="margin-left: 40px" class="col-md-offset-1">
                                                <button class="btn btn-info btn-fill pull-left"
                                                        ng-click="submitServiceEdit()"
                                                        style="margin-right: 10px">Edit service
                                                </button>
                                                <button class="btn btn-default btn-fill pull-left"
                                                        ng-click="cancelEdit()">Cancel edit
                                                </button>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>
    </div>
</div>
