<div class="wrapper">
    <ng-include src="'../../view/csr/csrSidebar.html'"></ng-include>
    <div class="main-panel">
        <ng-include src="'../../view/csr/csrHeader.html'"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-hide="editing" class="card">
                            <div class="header">
                                <h4 class="title">Tariff plans</h4>
                                <p class="category">All tariff plans</p>
                            </div>
                            <hr/>
                            <div class="content table-responsive">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="dataTables_length" id="tariffTable_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Show entries:</label>
                                                <md-select ng-model="size" md-on-close="updateData()">
                                                    <md-option value="5">5</md-option>
                                                    <md-option value="10">10</md-option>
                                                    <md-option value="25">25</md-option>
                                                    <md-option value="50">50</md-option>
                                                    <md-option value="100">100</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Name:</label>
                                            <input type="text" ng-model="selectedName" maxlength="150"/>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Status:</label>
                                            <md-select ng-model="selectedStatus">
                                                <md-option value="0">All statuses</md-option>
                                                <md-option value="1">ACTIVATED</md-option>
                                                <md-option value="2">DEACTIVATED</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" flex-gt-sm>
                                            <label>Type:</label>
                                            <md-select ng-model="selectedType">
                                                <md-option value="0">All</md-option>
                                                <md-option value="1">Corporate</md-option>
                                                <md-option value="2">Individual</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                            <label>From:</label>
                                            <md-datepicker ng-model="dateFrom">
                                            </md-datepicker>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                            <label>To:</label>
                                            <md-datepicker ng-model="dateTo">
                                            </md-datepicker>
                                        </md-input-container>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                            <label>Order by:</label>
                                            <md-select ng-model="orderBy">
                                                <md-option value="0">Date</md-option>
                                                <md-option value="1">Name</md-option>
                                                <md-option value="2">Status</md-option>
                                                <md-option value="3">Type</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                            <label>Order type:</label>
                                            <md-select ng-model="orderByType">
                                                <md-option value="ASC">ASC</md-option>
                                                <md-option value="DESC">DESC</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-info btn-fill" ng-click="updateData()">Filter</button>
                                    </div>
                                </div>
                                <table id="tariffTable" class="table table-striped table-bordered table-hover">
                                    <col width="30%">
                                    <col width="15%">
                                    <!--<col width="42%">-->
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="15%">
                                    <thead>
                                    <th>Name</th>
                                    <!--<th>Region & Price</th>-->
                                    <th>Status</th>
                                    <!--<th>Calls/SMS/MMS/Internet</th>-->
                                    <!--<th>SMS/MMS/Internet</th>-->
                                    <th>Creation date</th>
                                    <th>Corp.</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in tariffs" class="tariff-td">
                                        <td><a href="/#/csr/tariff/{{t.tariff.id}}">{{t.tariff.tariffName}}</a><br>
                                            <!--<a target="_blank" href="{{t.tariff.pictureUrl}}">picture</a>-->
                                        </td>
                                        <!--<td style="padding: 0;">-->
                                        <!--<div ng-hide="t.tariff.isCorporate" style="height: 200px; overflow: auto;">-->
                                        <!--<table width="100%" style="table-layout: fixed;"-->
                                        <!--class="table table-striped" ng-hide="t.tariff.isCorporate">-->
                                        <!--<col width="70%">-->
                                        <!--&lt;!&ndash;region price&ndash;&gt;-->
                                        <!--<col width="30%">-->
                                        <!--<tr>-->
                                        <!--<td><b>Discount:</b></td>-->
                                        <!--<td><b>{{t.tariff.discount}}%</b></td>-->
                                        <!--</tr>-->
                                        <!--<tr ng-repeat="r in t.regions" class="tariff-td">-->
                                        <!--<td>{{r.region.nameRegion}}</td>-->
                                        <!--<td style="text-align: left; padding-right: 0;">{{r.price}}</td>-->
                                        <!--</tr>-->
                                        <!--</table>-->
                                        <!--</div>-->
                                        <!--<span ng-show="t.tariff.isCorporate">-->
                                        <!--Price: {{t.tariff.price}}<br>-->
                                        <!--<b>Discount: {{t.tariff.discount}}%</b>-->
                                        <!--</span>-->
                                        <!--</td>-->
                                        <td>{{t.tariff.productStatus}}</td>
                                        <!--<td style="padding: 0;">-->
                                        <!--<table width="100%" style="table-layout: fixed;"-->
                                        <!--class="table table-striped">-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td style="word-wrap: break-word;">Calls in Network</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.callsInNetwork}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td style="word-wrap: break-word;">Calls on other numbers</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.callsOnOtherNumbers}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td style="word-wrap: break-word;">Roaming</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.roaming}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>SMS</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.sms}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>MMS</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.mms}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>Internet</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.internet}}</td>-->
                                        <!--</tr>-->
                                        <!--</table>-->
                                        <!--</td>-->
                                        <!--<td style="padding: 0;">-->
                                        <!--<table width="100%" style="table-layout: fixed;"-->
                                        <!--class="table table-striped">-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>SMS</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.sms}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>MMS</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.mms}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr class="tariff-td">-->
                                        <!--<td>Internet</td>-->
                                        <!--<td style="text-align: left">{{t.tariff.internet}}</td>-->
                                        <!--</tr>-->
                                        <!--</table>-->
                                        <!--</td>-->
                                        <td>{{t.tariff.creationDate | date:'dd MMM yyyy'}}</td>
                                        <td>
                                            <span ng-show="t.tariff.isCorporate">+</span>
                                            <span ng-hide="t.tariff.isCorporate">-</span>
                                        </td>
                                        <td>
                                            <button style="width: 100%" ng-hide="t.tariff.productStatus === 'ACTIVATED'"
                                                    class="btn btn-success btn-fill pull-left"
                                                    ng-click="activateTariff($index)">Activate
                                            </button>
                                            <button style="width: 100%" ng-show="t.tariff.productStatus === 'ACTIVATED'"
                                                    class="btn btn-danger btn-fill pull-left"
                                                    ng-click="deactivateTariff($index)">Deactivate
                                            </button>
                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                    ng-click="editClick(t.tariff.id)">Edit
                                            </button>
                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                    ng-click="detailClick(t.tariff.id)">Detail
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="tariffTable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button previous" id="tariffTable_previous">
                                                    <a aria-controls="tariffTable" data-dt-idx="0"
                                                       tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
                                                </li>
                                                <li class="paginate_button" ng-show="page > 2"
                                                    ng-click="getPage(0)">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">1</a>
                                                </li>
                                                <li class="paginate_button" ng-show="page > 3">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">...</a>
                                                </li>
                                                <li class="paginate_button" ng-show="(page - 1)*size > 0"
                                                    ng-click="getPage(page - 2)">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">{{page-1}}</a>
                                                </li>
                                                <li class="paginate_button" ng-show="(page)*size > 0"
                                                    ng-click="getPage(page - 1)"><a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page}}</a>
                                                </li>
                                                <li class="paginate_button active"><a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                                </li>
                                                <li class="paginate_button" ng-show="(page + +1)*size < tariffsSelected"
                                                    ng-click="getPage(page+1)">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">{{page+2}}</a>
                                                </li>
                                                <li class="paginate_button" ng-show="(page + 2)*size < tariffsSelected"
                                                    ng-click="getPage(page+2)">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">{{page+3}}</a>
                                                </li>
                                                <li class="paginate_button" ng-show="page < getMaxPageNumber() - 4">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">...</a>
                                                </li>
                                                <li class="paginate_button" ng-click="getPage(getMaxPageNumber() - 1)"
                                                    ng-show="page < getMaxPageNumber() - 3">
                                                    <a
                                                            aria-controls="tariffTable"
                                                            data-dt-idx="1" tabindex="0">{{getMaxPageNumber()}}</a>
                                                </li>
                                                <li class=" paginate_button next pointable" id="tariffTable_next"><a
                                                        aria-controls="tariffTable" data-dt-idx="2"
                                                        tabindex="0" ng-show="(page + 1)*size < tariffsSelected"
                                                        ng-click="nextPage()">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div>
                                            <label><b>Tariffs founded: {{tariffsSelected}}</b></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--ADD TARIFF-->
                        <div ng-hide="editing" class="card">
                            <div class="header">
                                <h4 class="title">Add tariff plan</h4>
                            </div>
                            <div class="content">
                                <form name="addTariffForm" id="addTariffForm"
                                      autocomplete="off" novalidate ng-submit="addTariff()">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" placeholder="Tariff name" name="tariffName"
                                                       ng-model="currentTariff.tariffName" md-maxlength="150" required/>
                                                <div ng-messages="addTariffForm.tariffName.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        Tariff name is required.
                                                    </div>
                                                </div>
                                            </md-input-container>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Internet"
                                                       name="internet"
                                                       ng-model="currentTariff.internet" md-maxlength="150" required/>
                                                <div ng-messages="addTariffForm.internet.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        Internet is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Calls in network"
                                                       name="callsInNetwork"
                                                       ng-model="currentTariff.callsInNetwork" md-maxlength="150"
                                                       required/>
                                                <div ng-messages="addTariffForm.callsInNetwork.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        Calls in network is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control"
                                                       placeholder="Calls on other number"
                                                       ng-model="currentTariff.callsOnOtherNumbers" md-maxlength="150"
                                                       name="callsOnOtherNumbers"
                                                       required/>
                                                <div ng-messages="addTariffForm.callsOnOtherNumbers.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        Calls on other numbers is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="SMS" name="sms"
                                                       ng-model="currentTariff.sms" md-maxlength="150" required/>
                                                <div ng-messages="addTariffForm.sms.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        SMS is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="MMS" name="mms"
                                                       ng-model="currentTariff.mms" md-maxlength="150" required/>
                                                <div ng-messages="addTariffForm.mms.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        MMS is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Roaming"
                                                       name="roaming"
                                                       ng-model="currentTariff.roaming" md-maxlength="150" required/>
                                                <div ng-messages="addTariffForm.roaming.$error" role="alert"
                                                     multiple>
                                                    <div ng-message="required">
                                                        Roaming is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="number" min="0" max="100" class="form-control"
                                                       name="discount"
                                                       placeholder="Discount"
                                                       ng-model="currentTariff.discount" required
                                                       ng-pattern="discountPattern"/>
                                                <div ng-messages="addTariffForm.discount.$error" role="alert" multiple>
                                                    <div ng-message="pattern">
                                                        This field can only contain numbers from 0 to 100
                                                    </div>
                                                    <div ng-message="required">
                                                        Discount is required.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-checkbox type="checkbox" class="md-block"
                                                         ng-model="currentTariff.isCorporate">Is corporate
                                            </md-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <img ng-src="{{currentTariff.pictureUrl}}" alt="">
                                        <md-button class="md-raised md-primary upload_photo" ng-click="uploadPicture()">
                                            <i class="fa fa-upload" aria-hidden="true"></i>Upload picture
                                        </md-button>
                                        <div>
                                            <br/>
                                            <input type="file" name="fileInput" id="fileInput"
                                                   onchange="angular.element(this).scope().fileChanged(event)"/>
                                        </div>
                                        <div class="bg_crop_modal" ng-show="imageCropStep == 2"
                                             ng-click="clear()"></div>
                                        <div ng-show="imageCropStep == 2" class="crop_files_images">
                                            <image-crop
                                                    data-height="240"
                                                    data-width="360"
                                                    data-shape="square"
                                                    data-step="imageCropStep"
                                                    src="imgSrc"
                                                    data-result="currentTariff.pictureUrl"
                                                    data-result-blob="resultBlob"
                                                    crop="initCrop"
                                                    padding="250"
                                                    max-size="1024"
                                            ></image-crop>
                                            <br/>
                                            <div class="wrp_crop_img_btn">
                                                <md-button class="md-raised md-primary" ng-click="clear()">Cancel
                                                </md-button>
                                                <md-button class="md-raised md-primary" ng-click="initCrop = true">
                                                    Crop
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="currentTariff.isCorporate">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="number" class="form-control" name="price"
                                                       placeholder="Price"
                                                       ng-model="currentTariff.price"
                                                       ng-change="checkTariffPrice(currentTariff)"/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row" ng-hide="currentTariff.isCorporate">
                                        <div class="form-group col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label>Region</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Price</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Region</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Price</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5" ng-repeat="r in regionsToAdd"
                                                     ng-class="{'first-elem-in-row': $index == 0}">
                                                    <div class="col-md-6">
                                                        <md-checkbox type="checkbox" class="md-block"
                                                                     ng-click="toggle(r, regionsToSave)"
                                                                     ng-checked="exists(r, regionsToSave)"><label>{{r.region.nameRegion}}</label>
                                                        </md-checkbox>
                                                    </div>
                                                    <div class="col-md-6" style="height: 52px;">
                                                        <md-input-container ng-show="exists(r, regionsToSave)"
                                                                            style="margin: 0 0; padding: 0;">
                                                            <input type="number"
                                                                   ng-model="r.price" class="form-control"
                                                                   ng-change="checkPrice(r, regionsToSave)">
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-info btn-fill pull-left" type="submit"
                                            ng-disabled="addTariffForm.$invalid">Add tariff
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <!--TARIFF EDITING-->

                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright">
                        &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>