<div class="wrapper">
    <div class="sidebar" data-color="purple">

        <div class="sidebar-wrapper" data-color="azure">
            <div class="logo">
                <a href="/#/index" class="simple-text">
                    Phone Company
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/#/csr">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/#/csr/tariffs">
                        <i class="pe-7s-note2"></i>
                        <p>Tariffs</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/services">
                        <i class="pe-7s-note"></i>
                        <p>Services</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/orders">
                        <i class="pe-7s-cart"></i>
                        <p>Orders</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/complaints">
                        <i class="pe-7s-attention"></i>
                        <p>Complaints</p>
                    </a>
                </li>
                <li>
                    <a href="/#/csr/corporations">
                        <i class="pe-7s-attention"></i>
                        <p>Corporations</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h3 class="navbar-brand">CSR page</h3>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-hide="editing" class="card">
                            <div class="header">
                                <h4 class="title">Tariffs</h4>
                                <p class="category">All tariffs</p>
                            </div>
                            <hr/>
                            <div class="content table-responsive">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="dataTables_length" id="tariffTable_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Show entries:</label>
                                                <md-select ng-model="size" md-on-close="updateData()">
                                                    <md-option value="5">5</md-option>
                                                    <md-option value="10">10</md-option>
                                                    <md-option value="25">25</md-option>
                                                    <md-option value="50">50</md-option>
                                                    <md-option value="100">100</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="dataTables_length">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Region:</label>
                                                <md-select ng-model="currentRegion" md-on-close="updateData()">
                                                    <md-option value="0">All Regions</md-option>
                                                    <md-option ng-repeat="r in regions" value="{{r.id}}">
                                                        {{r.nameRegion}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <!--<div class="col-sm-4">-->
                                    <!--<div id="tariffTable_filter" class="dataTables_filter"><label>Search:<input-->
                                    <!--type="search"-->
                                    <!--class="form-control input-sm"-->
                                    <!--placeholder=""-->
                                    <!--aria-controls="tariffTable"></label>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <table id="tariffTable" class="table table-striped table-bordered table-hover">
                                    <!--name-->
                                    <col width="10%">
                                    <!--region price-->
                                    <col width="17%">
                                    <!--status-->
                                    <col width="8%">
                                    <!--calls-->
                                    <col width="25%">
                                    <!--sms-->
                                    <col width="15%">
                                    <!--date-->
                                    <col width="8%">
                                    <!--corporate-->
                                    <col width="7%">
                                    <!--edti-->
                                    <col width="10%">
                                    <thead>
                                    <th>Name</th>
                                    <th>Region & Price</th>
                                    <th>Status</th>
                                    <th>Calls</th>
                                    <th>SMS/MMS/Internet</th>
                                    <th>Date</th>
                                    <th>Corporate</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in tariffs" class="tariff-td">
                                        <td>{{t.tariff.tariffName}}</td>
                                        <td style="padding: 0;">
                                            <table width="100%" style="table-layout: fixed;" class="table table-striped">
                                                <tr ng-repeat="r in t.regions" class="tariff-td">
                                                    <td>{{r.region.nameRegion}}</td>
                                                    <td style="text-align: left; padding-right: 0;">{{r.price}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>{{t.tariff.productStatus}}</td>
                                        <td style="padding: 0;">
                                            <table width="100%" style="table-layout: fixed;" class="table table-striped">
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Calls in Network</td>
                                                    <td style="text-align: left">{{t.tariff.callsInNetwork}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Calls on other numbers</td>
                                                    <td style="text-align: left">{{t.tariff.callsOnOtherNumbers}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Roaming</td>
                                                    <td style="text-align: left">{{t.tariff.roaming}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="padding: 0;">
                                            <table width="100%" style="table-layout: fixed;" class="table table-striped">
                                                <tr class="tariff-td">
                                                    <td>SMS</td>
                                                    <td style="text-align: left">{{t.tariff.sms}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td>MMS</td>
                                                    <td style="text-align: left">{{t.tariff.mms}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td>Internet</td>
                                                    <td style="text-align: left">{{t.tariff.internet}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td>{{t.tariff.creationDate | date:'dd MMM yyyy'}}</td>
                                        <td>
                                            <span ng-show="t.tariff.isCorporate">+</span>
                                            <span ng-hide="t.tariff.isCorporate">-</span>
                                        </td>
                                        <td>
                                            <button style="width: 100%" ng-hide="t.tariff.productStatus === 'ACTIVATED'"
                                                    class="btn btn-success btn-fill pull-left"
                                                    ng-click="activateTariff($index)">Activate
                                            </button>
                                            <button style="width: 100%" ng-show="t.tariff.productStatus === 'ACTIVATED'"
                                                    class="btn btn-danger btn-fill pull-left"
                                                    ng-click="deactivateTariff($index)">Deactivate
                                            </button>
                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                    ng-click="editClick(t.tariff.id)">Edit
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="tariffTable_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button previous" id="tariffTable_previous">
                                                    <a aria-controls="tariffTable" data-dt-idx="0"
                                                       tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
                                                </li>
                                                <li class="paginate_button active"><a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                                </li>
                                                <li class="paginate_button next pointable" id="tariffTable_next"><a
                                                        aria-controls="tariffTable" data-dt-idx="2"
                                                        tabindex="0" ng-show="(page + 1)*size < tariffsSelected"
                                                        ng-click="nextPage()">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div>
                                            <label><b>Tariffs selected: {{tariffsSelected}}</b></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--ADD TARIFF-->
                        <div ng-hide="editing" class="card">
                            <div class="header">
                                <h4 class="title">Add tariff</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Tariff name</label>-->
                                        <!--</div>-->
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" placeholder="Tariff name"
                                                       ng-model="currentTariff.tariffName" md-maxlength="150" required/>
                                            </md-input-container>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Internet</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Internet"
                                                       ng-model="currentTariff.internet" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Calls in network</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Calls in network"
                                                       ng-model="currentTariff.callsInNetwork" md-maxlength="150"
                                                       required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Calls on other numbers</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control"
                                                       placeholder="Calls on other number"
                                                       ng-model="currentTariff.callsOnOtherNumbers" md-maxlength="150"
                                                       required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>SMS</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="SMS"
                                                       ng-model="currentTariff.sms" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>MMS</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="MMS"
                                                       ng-model="currentTariff.mms" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Roaming</label>-->

                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Roaming"
                                                       ng-model="currentTariff.roaming" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--<div class="form-group col-md-4">-->
                                        <!--<label>Is corporate</label>-->
                                        <!--</div>-->
                                        <div class="form-group col-md-12">
                                            <md-checkbox type="checkbox" class="md-block"
                                                         ng-model="currentTariff.isCorporate">Is corporate
                                            </md-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label>Regions & prices</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Region</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Price</label>
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="r in regionsToAdd">
                                                <div class="col-md-6">
                                                    <md-checkbox type="checkbox" class="md-block"
                                                                 ng-click="toggle(r, regionsToSave)"
                                                                 ng-checked="exists(r, regionsToSave)"><label>{{r.region.nameRegion}}</label>
                                                    </md-checkbox>
                                                    <!--<input type="checkbox" ng-click="toggle(r, regionsToSave)" ng-checked="exists(r, regionsToSave)">-->
                                                    <!--<label>{{r.region.nameRegion}}</label>-->
                                                </div>
                                                <div class="col-md-6">
                                                    <md-input-container ng-show="exists(r, regionsToSave)"
                                                                        style="margin: 0 0; padding: 0;">
                                                        <input type="number" min="0"
                                                               ng-model="r.price" class="form-control"
                                                               ng-change="checkPrice(r)" md-maxlength="4">
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <!--<div class="row">-->
                                            <!--<div class="col-md-5"><label>Region</label></div>-->
                                            <!--<div class="col-md-5"><label>Price</label></div>-->
                                            <!--<div class="col-md-2"></div>-->
                                            <!--</div>-->
                                            <!--<div class="row" ng-repeat="rts in regionsToSave">-->
                                            <!--<div class="col-md-5">{{rts.region.nameRegion}}</div>-->
                                            <!--<div class="col-md-5">{{rts.price}}</div>-->
                                            <!--<div class="col-md-2">-->
                                            <!--<button type="submit" class="btn btn-toggle btn-fill pull-left"-->
                                            <!--ng-click="removeRegion()">Remove-->
                                            <!--</button>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row">-->
                                            <!--<div class="col-md-5">-->
                                            <!--<select class="form-control" ng-model="regionToAdd.region">-->
                                            <!--<option ng-repeat="r in regions" ng-value="r">{{r.nameRegion}}</option>-->
                                            <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-5">-->
                                            <!--<input type="number" class="form-control" placeholder="Price"-->
                                            <!--ng-model="currentTariff.price"/>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-2">-->
                                            <!--<button type="submit" class="btn btn-toggle btn-fill pull-left"-->
                                            <!--ng-click="addRegionToList()">Add-->
                                            <!--</button>-->
                                            <!--</div>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <button class="btn btn-info btn-fill pull-left"
                                            ng-click="addTariff()">Add tariff
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <!--TARIFF EDITING-->
                        <div ng-show="editing" id="tariff-editing" class="card">
                            <div class="header">
                                <h4 class="title">Edit tariff</h4>
                                <button class="btn btn-default btn-fill pull-left" ng-click="cancelEdit()"> < back to tariffs</button>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" placeholder="Tariff name"
                                                       ng-model="tariffToEdit.tariffName" md-maxlength="150" required/>
                                            </md-input-container>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Internet"
                                                       ng-model="tariffToEdit.internet" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Calls in network"
                                                       ng-model="tariffToEdit.callsInNetwork" md-maxlength="150"
                                                       required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control"
                                                       placeholder="Calls on other number"
                                                       ng-model="tariffToEdit.callsOnOtherNumbers" md-maxlength="150"
                                                       required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="SMS"
                                                       ng-model="tariffToEdit.sms" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="MMS"
                                                       ng-model="tariffToEdit.mms" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-input-container class="md-block">
                                                <input type="text" class="form-control" placeholder="Roaming"
                                                       ng-model="tariffToEdit.roaming" md-maxlength="150" required/>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <md-checkbox type="checkbox" class="md-block"
                                                         ng-model="tariffToEdit.isCorporate">Is corporate
                                            </md-checkbox>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label>Regions & prices</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Region</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Price</label>
                                                </div>
                                            </div>
                                            <div class="row" ng-repeat="r in regionsToAdd">
                                                <div class="col-md-6">
                                                    <md-checkbox type="checkbox" class="md-block"
                                                                 ng-click="toggleEdit(r, regionsToEdit)"
                                                                 ng-checked="existsEdit(r, regionsToEdit)"><label>{{r.region.nameRegion}}</label>
                                                    </md-checkbox>
                                                </div>
                                                <div class="col-md-6">
                                                    <md-input-container ng-show="existsEdit(r, regionsToEdit)"
                                                                        style="margin: 0 0; padding: 0;">
                                                        <input type="number"
                                                               ng-model="r.price" class="form-control"
                                                               ng-change="checkPrice(r, regionsToEdit)">
                                                    </md-input-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success btn-fill pull-left"
                                            ng-click="saveTariff()">Save tariff
                                    </button>
                                    <button class="btn btn-default btn-fill pull-left" ng-click="cancelEdit()"> < back to tariffs</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>
    </div>
</div>
