<div class="wrapper">
    <ng-include src="'../../view/admin/adminSidebar.html'"></ng-include>
    <div class="main-panel">
        <ng-include src="'../../view/admin/adminHeader.html'"></ng-include>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" ng-hide="editing">
                            <div class="header">
                                <h4 class="title">User list</h4>
                            </div>
                            <hr/>
                            <div class="row" style="padding: 15px">
                                <div class="col-md-2">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Show entries:</label>
                                        <md-select ng-model="size" md-on-close="updateData()">
                                            <md-option value="5">5</md-option>
                                            <md-option value="10">10</md-option>
                                            <md-option value="25">25</md-option>
                                            <md-option value="50">50</md-option>
                                            <md-option value="100">100</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Role:</label>
                                        <md-select ng-model="selectedRole">
                                            <md-option value="0">All roles</md-option>
                                            <md-option value="2">CSR</md-option>
                                            <md-option value="3">PMG</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-3">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Status:</label>
                                        <md-select ng-model="selectedStatus">
                                            <md-option value="ALL">ALL</md-option>
                                            <md-option value="ACTIVATED">ACTIVATED</md-option>
                                            <md-option value="DEACTIVATED">DEACTIVATED</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Email:</label>
                                        <input type="text" ng-model="partOfEmail" maxlength="20"/>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="row" style="padding: 15px">
                                <div class="col-sm-4">
                                    <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                        <label>Order by:</label>
                                        <md-select ng-model="orderBy">
                                            <md-option value="0">Email</md-option>
                                            <md-option value="1">Role</md-option>
                                            <md-option value="2">Status</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-2">
                                    <md-input-container class="md-block" style="margin: 1px 1px;" flex-gt-sm>
                                        <label>Direction:</label>
                                        <md-select ng-model="orderByType">
                                            <md-option value="ASC">▲</md-option>
                                            <md-option value="DESC">▼</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-info btn-fill" ng-click="updateData()">Filter</button>
                                </div>
                            </div>
                            <div class="content table-responsive">
                                <table id="servicesTable" class="table table-striped table-bordered table-hover"
                                       cellspacing="0" width="100%">
                                    <col width="40%">
                                    <col width="20%">
                                    <col width="30%">
                                    <col width="10%">
                                    <thead>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="u in users">
                                        <td>{{u.email}}</td>
                                        <td>{{u.role}}</td>
                                        <td>{{u.status}}</td>
                                        <td>
                                            <button style="width: 100%" ng-hide="u.status === 'ACTIVATED'"
                                                    class="btn btn-success btn-fill pull-left"
                                                    ng-click="activateClick($index)">Activate
                                            </button>
                                            <button style="width: 100%" ng-show="u.status === 'ACTIVATED'"
                                                    class="btn btn-danger btn-fill pull-left"
                                                    ng-click="deactivateClick($index)">Deactivate
                                            </button>
                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                    ng-click="editClick($index)">Edit
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="padding: 0px 0px 15px 15px">
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="tariffTable_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous" id="tariffTable_previous">
                                                <a aria-controls="tariffTable" data-dt-idx="0"
                                                   tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
                                            </li>
                                            <li class="paginate_button" ng-show="page > 2"
                                                ng-click="getPage(0)">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">1</a>
                                            </li>
                                            <li class="paginate_button_points" ng-show="page > 3">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">...</a>
                                            </li>
                                            <li class="paginate_button" ng-show="(page - 1)*size > 0"
                                                ng-click="getPage(page - 2)">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page-1}}</a>
                                            </li>
                                            <li class="paginate_button" ng-show="(page)*size > 0"
                                                ng-click="getPage(page - 1)"><a
                                                    aria-controls="tariffTable"
                                                    data-dt-idx="1" tabindex="0">{{page}}</a>
                                            </li>
                                            <li class="paginate_button active"><a
                                                    aria-controls="tariffTable"
                                                    data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                            </li>
                                            <li class="paginate_button" ng-show="(page + +1)*size < usersSelected"
                                                ng-click="getPage(page+1)">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page+2}}</a>
                                            </li>
                                            <li class="paginate_button" ng-show="(page + 2)*size < usersSelected"
                                                ng-click="getPage(page+2)">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{page+3}}</a>
                                            </li>
                                            <li class="paginate_button_points" ng-show="page < getMaxPageNumber() - 4">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">...</a>
                                            </li>
                                            <li class="paginate_button" ng-click="getPage(getMaxPageNumber() - 1)"
                                                ng-show="page < getMaxPageNumber() - 3">
                                                <a
                                                        aria-controls="tariffTable"
                                                        data-dt-idx="1" tabindex="0">{{getMaxPageNumber()}}</a>
                                            </li>
                                            <li class=" paginate_button next pointable" id="tariffTable_next"><a
                                                    aria-controls="tariffTable" data-dt-idx="2"
                                                    tabindex="0" ng-show="(page + 1)*size < usersSelected"
                                                    ng-click="nextPage()">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" ng-hide="editing">
                            <div class="header">
                                <h4 class="title">Add user</h4>
                            </div>
                            <div class="content">
                                <form name="userForm" ng-submit="createUser()">
                                    <div class="row">
                                        <div class="form-group col-sm-11">
                                            <md-input-container class="md-block">
                                                <label>Email</label>
                                                <input name="email" id="email" ng-model="user.email"
                                                       required ng-pattern="emailPattern">
                                                <div ng-messages="userForm.email.$error" role="alert" multiple>
                                                    <div ng-message="required" class="my-message">Email is required.
                                                    </div>
                                                    <div ng-message="pattern" class="my-message">That doesn't look like
                                                        a valid
                                                        email.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-11">
                                            <md-input-container class="md-block">
                                                <label>Role</label>
                                                <md-select ng-model="user.role" required>
                                                    <md-option value="CSR">CSR</md-option>
                                                    <md-option value="PMG">PMG</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <button ng-class="{unsubmitable : userForm.$invalid,
                        submitable: !userForm.$invalid}"
                                            ng-disabled="userForm.$invalid"
                                            style="width: 300px;"
                                            type="submit" class="center-block register-button">
                                        Add user
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <!--USER EDITING-->
                        <div class="card" ng-show="editing">
                            <div class="header">
                                <h4 class="title">Edit user</h4>
                            </div>
                            <div class="content">
                                <form name="editUserForm" ng-submit="saveUser()">
                                    <div class="row">
                                        <div class="form-group col-sm-11">
                                            <md-input-container class="md-block">
                                                <label>Email</label>
                                                <input name="email" ng-model="userToEdit.email"
                                                       required ng-pattern="emailPattern">
                                                <div ng-messages="editUserForm.email.$error" role="alert" multiple>
                                                    <div ng-message="required" class="my-message">Email is required.
                                                    </div>
                                                    <div ng-message="pattern" class="my-message">That doesn't look like
                                                        a valid
                                                        email.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-11">
                                            <md-input-container class="md-block">
                                                <label>Role</label>
                                                <md-select ng-model="userToEdit.role" required>
                                                    <md-option value="CSR">CSR</md-option>
                                                    <md-option value="PMG">PMG</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <button ng-class="{unsubmitable : editUserForm.$invalid,
                        submitable: !editUserForm.$invalid}"
                                            ng-disabled="editUserForm.$invalid"
                                            style="width: 300px;"
                                            type="submit" class="btn btn-success btn-fill center-block">
                                        Save user
                                    </button>
                                    <button style="width: 300px;" type="button"
                                            class="btn btn-default btn-fill center-block" ng-click="cancelClick()">
                                        Back
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>

    </div>


</div>