<md-dialog aria-label="Modal Window">
    <div class="modal-window">
        <h3>Tariff plan activation <span class="close-icon" ng-click="cancel()"></span></h3>
        <div class="send-review">
            <div class="row" ng-show="currentTariff.tariff != undefined">
                <div class="col-md-9 modal-label">Your current tariff plan:</div>
                <div class="col-md-3 modal-label">Old price:</div>
                <div class="col-md-9 modal-label"><b>"{{currentTariff.tariff.tariffName}}"</b></div>
                <div class="col-md-3 modal-label"><b>{{currentTariff.totalPrice}} uah</b></div>
            </div>
            <div class="row">
                <div class="col-md-9 modal-label">New tariff plan:</div>
                <div class="col-md-3 modal-label">New price:</div>
                <div class="col-md-9 modal-label"><b>"{{marketingCampaign.tariffRegion.tariff.tariffName}}"</b></div>
                <div class="col-md-3 modal-label"><b>{{marketingCampaign.tariffRegion.tariff.price * (1 - marketingCampaign.tariffRegion.tariff.discount/100) | number: 2}} uah</b></div>
            </div>
            <div class="row" ng-repeat="mc in marketingCampaign.services">
                <div class="col-md-9 modal-label">New service:</div>
                <div class="col-md-3 modal-label">New price:</div>
                <div class="col-md-9 modal-label"><b>"{{mc.service.serviceName}}"</b></div>
                <div class="col-md-3 modal-label"><b>{{mc.price}} uah</b></div>
            </div>
            <div class="wrap_btn">
                <input type="submit" class="btn-post-comment" ng-click="answer(message)" value="Activate">
            </div>
        </div>
    </div>
</md-dialog>