<div class="wrapper">
    <ng-include src="'../../view/client/clientSidebar.html'"></ng-include>

    <div class="main-panel">
        <ng-include src="'../../view/client/clientHeader.html'"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Personal information">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Edit Profile</h4>
                                                </div>
                                                <div class="content">
                                                    <form name="customerForm" ng-submit="updateCustomer()">
                                                        <md-switch ng-disabled="mailingSwitchDisabled"
                                                                   ng-change="setMailingAgreement()"
                                                                   ng-model="customer.isMailingEnabled"
                                                                   aria-label="Mailing">
                                                            Mailing enabled: {{ customer.isMailingEnabled }}
                                                        </md-switch>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block">
                                                                <label>Email</label>
                                                                <input name="email" type="text" id="email"
                                                                       value="{{customer.email}}"
                                                                       disabled />
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block">
                                                                    <label>Phone number</label>
                                                                    <input name="phone" type="text" id="phone"
                                                                           value="{{customer.phone}}"
                                                                           disabled >
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>First name</label>
                                                                    <input name="firstName" type="text" id="firstName"
                                                                           ng-model="customer.firstName"
                                                                           ng-pattern="textFieldPattern">

                                                                    <div ng-messages="customerForm.firstName.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Second name</label>
                                                                    <input name="secondName" type="text" id="secondName"
                                                                           ng-model="customer.secondName"
                                                                           ng-pattern="textFieldPattern">

                                                                    <div ng-messages="customerForm.secondName.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Last name</label>
                                                                    <input name="lastName" type="text" id="lastName"
                                                                           ng-model="customer.lastName"
                                                                           ng-pattern="textFieldPattern">

                                                                    <div ng-messages="customerForm.lastName.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row" ng-hide="corporateUser || !hasCurrentTariff">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block"  flex-gt-sm>
                                                                    <label>Region</label>
                                                                    <md-select ng-model="customer.address.region"
                                                                               ng-required="!corporateUser && hasCurrentTariff">
                                                                        <md-option ng-repeat="r in regions" ng-value="{{r}}">
                                                                            {{r.nameRegion}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Locality</label>
                                                                    <input name="locality" type="text" id="locality"
                                                                           ng-model="customer.address.locality"
                                                                           ng-pattern="textFieldPattern">

                                                                    <div ng-messages="customerForm.locality.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Street</label>
                                                                    <input name="street" type="text" id="street"
                                                                           ng-model="customer.address.street"
                                                                           ng-pattern="textFieldPattern">

                                                                    <div ng-messages="customerForm.street.$error" role="alert" multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>House number</label>
                                                                    <input name="houseNumber" type="text" id="houseNumber"
                                                                           ng-model="customer.address.houseNumber"
                                                                           ng-pattern="textFieldPatternWithNumbers">

                                                                    <div ng-messages="customerForm.houseNumber.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain letters and numbers
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Apartment number</label>
                                                                    <input name="apartmentNumber" type="text" id="apartmentNumber"
                                                                           ng-model="customer.address.apartmentNumber"
                                                                           ng-pattern="numberPattern">

                                                                    <div ng-messages="customerForm.apartmentNumber.$error" role="alert"
                                                                         multiple>
                                                                        <div ng-message="pattern">
                                                                            This field can only contain positive numbers
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>New Password</label>
                                                                    <input type="password" id="password" name="password"
                                                                            ng-model="newPassword"
                                                                            md-minlength="8"
                                                                            ng-pattern="passwordPattern" />

                                                                    <div ng-messages="customerForm.password.$error" role="alert" multiple>

                                                                        <div ng-message-exp="['minlength', 'pattern']">
                                                                            Password should be at least 8 latin characters long with one
                                                                            special character.
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-sm-11">
                                                                <md-input-container class="md-block" flex-gt-sm>
                                                                    <label>Confirm Password</label>
                                                                    <input type="password" id="passwordConfirmation" name="passwordConfirmation"
                                                                           ng-model="passwordConfirmation" password-confirm match-target="newPassword" />

                                                                    <div ng-messages="customerForm.passwordConfirmation.$error" role="alert">
                                                                        <div ng-message="match">
                                                                            Passwords do not match!
                                                                        </div>
                                                                    </div>
                                                                </md-input-container>

                                                            </div>
                                                        </div>

                                                        <button ng-class="{unsubmitable : customerForm.$invalid,
                        submitable: !customerForm.$invalid}"
                                                                ng-disabled="customerForm.$invalid"
                                                                style="width: 300px;"
                                                                type="submit" class="center-block register-button">
                                                            Save profile
                                                        </button>
                                                        <div class="clearfix"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="My tariff plans" ng-click="myTariffPlansTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-hide="editing" class="card">
                                                <div ng-show="loading === false">
                                                    <div class="header">
                                                        <h4 class="title">Manage my tariff plans</h4>
                                                    </div>
                                                    <hr/>
                                                    <div ng-show="hasCurrentTariff === false">
                                                        <div class="row">
                                                            <h3 style="text-align: center">No current tariff plans available!</h3>
                                                        </div>
                                                    </div>
                                                    <div ng-show="hasCurrentTariff === true">
                                                        <div class="row">
                                                            <h3 style="text-align: center">{{currentTariff.tariff.tariffName}}</h3>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button style="width: 100%"
                                                                    class="btn btn-danger btn-fill pull-left"
                                                                    ng-click="showTariffDeactivationModalWindow(currentTariff, loadCurrentTariff, loadTariffsHistory)">Deactivate
                                                            </button>
                                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                                    ng-show="currentTariff.customerProductStatus === 'SUSPENDED'"
                                                                    ng-click="showTariffResumingModalWindow(currentTariff, loadCurrentTariff, loadTariffsHistory)">Resume
                                                            </button>
                                                            <button style="width: 100%" class="btn btn-toggle btn-fill pull-left"
                                                                    ng-show="currentTariff.customerProductStatus === 'ACTIVE'"
                                                                    ng-click="showTariffSuspensionModalWindow(currentTariff, daysToExecution, loadCurrentTariff, loadTariffsHistory)">Suspend
                                                            </button>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="row row-one">
                                                                <div class="col-md-8 condition"><span>Current status</span></div>
                                                                <div class="col-md-4 conditions-value">
                                                                    <span><b>{{currentTariff.customerProductStatus}}</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row row-two">
                                                                <div class="col-md-8 condition"><span>Roaming</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.roaming}}</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row row-one">
                                                                <div class="col-md-8 condition">
                                                                    <span>Calls in network</span>
                                                                </div>
                                                                <div class="col-md-4 conditions-value">
                                                                    <span><b>{{currentTariff.tariff.callsInNetwork}}</b></span></div>
                                                            </div>
                                                            <div class="row row-two">
                                                                <div class="col-md-8 condition"><span>Calls on other numbers</span></div>
                                                                <div class="col-md-4 conditions-value">
                                                                    <span><b>{{currentTariff.tariff.callsOnOtherNumbers}}</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row row-one">
                                                                <div class="col-md-8 condition"><span>Roaming</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.roaming}}</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row row-two">
                                                                <div class="col-md-8 condition"><span>Internet</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.internet}}</b></span>
                                                                </div>
                                                            </div>
                                                            <div class="row row-one">
                                                                <div class="col-md-8 condition"><span>SMS</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.sms}}</b></span></div>
                                                            </div>
                                                            <div class="row row-two">
                                                                <div class="col-md-8 condition"><span>MMS</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.mms}}</b></span></div>
                                                            </div>
                                                            <div class="row row-one">
                                                                <div class="col-md-8 condition"><span>Monthly payment</span></div>
                                                                <div class="col-md-4 conditions-value"><span><b>{{currentTariff.tariff.price}} uah</b></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="clearfix"></div>

                                                    <div class="header">
                                                        <h4 class="title">History of my tariff plans</h4>
                                                    </div>
                                                    <hr/>
                                                    <div class="content table-responsive">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="dataTables_length" id="tariffTable_length">
                                                                    <md-input-container class="md-block" flex-gt-sm>
                                                                        <label>Show entries:</label>
                                                                        <md-select ng-model="size" md-on-close="loadTariffsHistory()">
                                                                            <md-option value="5">5</md-option>
                                                                            <md-option value="10">10</md-option>
                                                                            <md-option value="25">25</md-option>
                                                                            <md-option value="50">50</md-option>
                                                                            <md-option value="100">100</md-option>
                                                                        </md-select>
                                                                    </md-input-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <table id="tariffTable" class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                                <th>Tariff Plan</th>
                                                                <th>Order Type</th>
                                                                <th>Order Status</th>
                                                                <th>Creation date</th>
                                                                <th>Execution Date</th>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="o in orders" class="tariff-td">
                                                                    <td>{{o.customerTariff.tariff.tariffName}}</td>
                                                                    <td>{{o.type}}</td>
                                                                    <td>{{o.orderStatus}}</td>
                                                                    <td>{{o.creationDate | date:'dd MM yyyy'}}</td>
                                                                    <td>{{o.executionDate | date:'dd MM yyyy'}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="row">
                                                            <div class="col-sm-7">
                                                                <div class="dataTables_paginate paging_simple_numbers"
                                                                     id="tariffTable_paginate">
                                                                    <ul class="pagination">
                                                                        <li class="paginate_button previous" id="tariffTable_previous">
                                                                            <a aria-controls="tariffTable" data-dt-idx="0"
                                                                               tabindex="0" ng-show="page > 0" ng-click="previousPage()">Previous</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-show="page > 2"
                                                                            ng-click="getPage(0)">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">1</a>
                                                                        </li>
                                                                        <li class="paginate_button_points" ng-show="page > 3">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">...</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-show="(page - 1)*size > 0"
                                                                            ng-click="getPage(page - 2)">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{page-1}}</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-show="(page)*size > 0"
                                                                            ng-click="getPage(page - 1)"><a
                                                                                aria-controls="tariffTable"
                                                                                data-dt-idx="1" tabindex="0">{{page}}</a>
                                                                        </li>
                                                                        <li class="paginate_button active"><a
                                                                                aria-controls="tariffTable"
                                                                                data-dt-idx="1" tabindex="0">{{page+1}}</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-show="(page + +1)*size < ordersFound"
                                                                            ng-click="getPage(page+1)">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{page+2}}</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-show="(page + 2)*size < ordersFound"
                                                                            ng-click="getPage(page+2)">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{page+3}}</a>
                                                                        </li>
                                                                        <li class="paginate_button_points" ng-show="page < getMaxPageNumber() - 4">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">...</a>
                                                                        </li>
                                                                        <li class="paginate_button" ng-click="getPage(getMaxPageNumber() - 1)"
                                                                            ng-show="page < getMaxPageNumber() - 3">
                                                                            <a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{getMaxPageNumber()}}</a>
                                                                        </li>
                                                                        <li class=" paginate_button next pointable" id="tariffTable_next"><a
                                                                                aria-controls="tariffTable" data-dt-idx="2"
                                                                                tabindex="0" ng-show="(page + 1)*size < ordersFound"
                                                                                ng-click="nextPage()">Next</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <div>
                                                                    <label><b>Orders found: {{ordersFound}}</b></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="My services" ng-click="myServicesTabClick()">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-hide="editing" class="card">
                                                <img class="center-block" style="padding-top: 50px"
                                                     ng-show="loading === true" src="../../css/ring.gif" alt=""/>

                                                <div ng-show="loading === false" class="container-fluid services-cards">
                                                    <div class="header">
                                                        <h4 class="title">Manage my services</h4>
                                                    </div>
                                                    <hr/>
                                                    <div ng-show="hasCurrentServices === false">
                                                        <div class="row">
                                                            <h3 style="text-align: center">No current services available!</h3>
                                                        </div>
                                                    </div>
                                                    <div ng-show="hasCurrentServices === true">
                                                        <div ng-repeat="s in currentServices" class="col-md-4">
                                                            <figure class="snip1174 blue">
                                                                <p ng-show="s.service.price === s.price"
                                                                   class="service-price">{{s.price | number : 2}}&#8372;</p>
                                                                <p ng-show="s.service.price !== s.price"
                                                                   class="service-price"
                                                                   style="text-decoration: line-through">
                                                                    {{s.service.price | number : 2}} &#8372;
                                                                </p>
                                                                <p ng-show="s.service.price !== s.price"
                                                                   style="font-weight: 700"
                                                                   class="service-price-discounted">
                                                                    {{s.price | number : 2}} &#8372;
                                                                </p>
                                                                <img style="height: 240px" ng-src="{{s.service.pictureUrl}}"/>
                                                                <figcaption>
                                                                    <h2>{{s.service.serviceName}}</h2>
                                                                    <p style="word-break: break-all">
                                                                        {{s.service.previewDescription}}
                                                                    </p>
                                                                    <p>
                                                                        <a style="cursor: pointer"
                                                                           ng-click="showServiceDetails(s)">
                                                                            Learn more</a>
                                                                    </p>
                                                                    <a style="cursor: pointer"
                                                                       ng-show="s.customerProductStatus === 'ACTIVE'"
                                                                       ng-click="deactivateCustomerService(s, loadCurrentServices, loadServicesHistory)">
                                                                        Deactivate</a>
                                                                    <a style="cursor: pointer"
                                                                       ng-show="s.customerProductStatus === 'ACTIVE'"
                                                                       ng-click="suspendCustomerService(s, daysToExecution, loadCurrentServices, loadServicesHistory)">
                                                                        Suspend</a>
                                                                    <a style="cursor: pointer"
                                                                       ng-show="s.customerProductStatus === 'SUSPENDED'"
                                                                       ng-click="activateCustomerService(s, loadCurrentServices, loadServicesHistory)">
                                                                        Activate</a>
                                                                    <a style="cursor: pointer"
                                                                       ng-show="s.customerProductStatus === 'SUSPENDED'"
                                                                       ng-click="deactivateCustomerService(s, loadCurrentServices, loadServicesHistory)">
                                                                        Deactivate</a>
                                                                </figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                                <div div ng-show="loading === false">
                                                    <div class="header">
                                                        <h4 class="title">History of my services</h4>
                                                    </div>
                                                    <hr/>
                                                    <div ng-show="servicesOrdersFound === 0">
                                                        <div class="row">
                                                            <h3 style="text-align: center">There were no actions with services yet!</h3>
                                                        </div>
                                                    </div>
                                                    <div ng-show="servicesOrdersFound > 0">
                                                        <div class="content table-responsive">
                                                            <div class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="dataTables_length" id="serviceTable_length">
                                                                        <md-input-container class="md-block" flex-gt-sm>
                                                                            <label>Show entries:</label>
                                                                            <md-select ng-model="size" md-on-close="loadServicesHistory()">
                                                                                <md-option value="5">5</md-option>
                                                                                <md-option value="10">10</md-option>
                                                                                <md-option value="25">25</md-option>
                                                                                <md-option value="50">50</md-option>
                                                                                <md-option value="100">100</md-option>
                                                                            </md-select>
                                                                        </md-input-container>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <table id="serviceTable" class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <th>Service</th>
                                                                <th>Order Type</th>
                                                                <th>Order Status</th>
                                                                <th>Creation date</th>
                                                                <th>Execution Date</th>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="o in servicesOrders" class="tariff-td">
                                                                    <td>{{o.customerService.service.serviceName}}</td>
                                                                    <td>{{o.type}}</td>
                                                                    <td>{{o.orderStatus}}</td>
                                                                    <td>{{o.creationDate | date:'dd MM yyyy'}}</td>
                                                                    <td>{{o.executionDate | date:'dd MM yyyy'}}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="row">
                                                                <div class="col-sm-7">
                                                                    <div class="dataTables_paginate paging_simple_numbers"
                                                                         id="serviceTable_paginate">
                                                                        <ul class="pagination">
                                                                            <li class="paginate_button previous">
                                                                                <a aria-controls="tariffTable" data-dt-idx="0"
                                                                                   tabindex="0" ng-show="servicesPage > 0" ng-click="servicesPreviousPage()">Previous</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-show="servicesPage > 2"
                                                                                ng-click="getServicesPage(0)">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">1</a>
                                                                            </li>
                                                                            <li class="paginate_button_points" ng-show="servicesPage > 3">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">...</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-show="(servicesPage - 1)*size > 0"
                                                                                ng-click="getServicesPage(servicesPage - 2)">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">{{servicesPage-1}}</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-show="(servicesPage)*size > 0"
                                                                                ng-click="getServicesPage(servicesPage - 1)"><a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{servicesPage}}</a>
                                                                            </li>
                                                                            <li class="paginate_button active"><a
                                                                                    aria-controls="tariffTable"
                                                                                    data-dt-idx="1" tabindex="0">{{servicesPage+1}}</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-show="(servicesPage + +1)*size < servicesOrdersFound"
                                                                                ng-click="getServicesPage(servicesPage+1)">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">{{servicesPage+2}}</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-show="(servicesPage + 2)*size < servicesOrdersFound"
                                                                                ng-click="getServicesPage(servicesPage+2)">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">{{servicesPage+3}}</a>
                                                                            </li>
                                                                            <li class="paginate_button_points" ng-show="servicesPage < getMaxServicesPageNumber() - 4">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">...</a>
                                                                            </li>
                                                                            <li class="paginate_button" ng-click="getServicesPage(getMaxServicesPageNumber() - 1)"
                                                                                ng-show="servicesPage < getMaxServicesPageNumber() - 3">
                                                                                <a
                                                                                        aria-controls="tariffTable"
                                                                                        data-dt-idx="1" tabindex="0">{{getMaxServicesPageNumber()}}</a>
                                                                            </li>
                                                                            <li class=" paginate_button next pointable"><a
                                                                                    aria-controls="tariffTable" data-dt-idx="2"
                                                                                    tabindex="0" ng-show="(servicesPage + 1)*size < servicesOrdersFound"
                                                                                    ng-click="servicesNextPage()">Next</a></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <div>
                                                                        <label><b>Orders found: {{servicesOrdersFound}}</b></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright">
                    &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
                </p>
            </div>
        </footer>
    </div>
</div>
