<md-dialog aria-label="More Modal Window">
    <div class="modal-window">
        <h3>More about customer service <span class="close-icon" ng-click="cancel()"></span></h3>
        <div class="send-review">
            <div class="row">
                <div class="col-md-7 modal-label">Your service:</div>
                <div class="col-md-5 modal-label">Price:</div>
                <div class="col-md-7 modal-label"><b>"{{customerService.service.serviceName}}"</b></div>
                <div class="col-md-5 modal-label"><b>{{customerService.price}} uah</b></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 modal-label">Description:</div>
                <div class="col-md-12 modal-label"><b>"{{customerService.service.description}}"</b></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 modal-label">Duration(days):</div>
                <div class="col-md-4 modal-label">Amount:</div>
                <div class="col-md-4 modal-label">Status:</div>
                <div class="col-md-4 modal-label"><b>"{{customerService.service.durationInDays}}"</b></div>
                <div class="col-md-4 modal-label"><b>{{customerService.service.amount}}</b></div>
                <div class="col-md-4 modal-label"><b>{{customerService.orderStatus}}</b></div>
            </div>
        </div>
    </div>
</md-dialog>