<div class="wrapper">
    <ng-include src="'../../view/client/clientSidebar.html'"></ng-include>
    <div class="main-panel">
        <ng-include src="'../../view/client/clientHeader.html'"></ng-include>
        <div class="col-md-12">
            <div ng-cloak>
                <div class="container-fluid">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom
                                 md-selected="currentCategory">
                            <md-tab ng-repeat="c in categories"
                                    label="{{c.categoryName}}"
                                    md-on-select="updateServicesByCategory()">
                            </md-tab>
                        </md-tabs>
                        <img class="center-block" style="padding-top: 50px"
                             ng-show="loading === true" src="../../css/ring.gif" alt=""/>
                        <div ng-show="loading === false"
                             class="container-fluid services-cards">
                            <div ng-repeat="s in services" class="col-md-4">
                                <figure class="snip1174 blue">
                                    <img ng-src="{{s.pictureUrl}}" alt=""/>
                                    <figcaption>
                                        <h2>{{s.serviceName}}</h2>
                                        <p>
                                            {{s.previewDescription}}
                                        </p>
                                        <a style="cursor: pointer"
                                           ng-click="showServiceDetails(s.id)">
                                            Learn more</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <img class="center-block"
                             src="../../css/more.gif" alt=""
                             ng-click="showMore()" ng-show="(size < servicesCount) && !loading"/>
                    </md-content>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <p class="copyright">
                &copy; 2017 <a href="/#/index">Phone Company</a>, made with love for customers
            </p>
        </div>
    </footer>
</div>
