<div class="wrapper">
    <ng-include src="getSidebar()"></ng-include>

    <div class="main-panel">
        <ng-include src="getHeader()"></ng-include>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-hide="editing" class="card">
                            <div class="header">
                                <h4 class="title">Tariff plans</h4>
                                <p class="category">Available tariff plans</p>
                            </div>
                            <hr/>
                                <table class="table table-striped table-bordered table-hover">
                                    <!--name-->
                                    <col width="15%">
                                    <!--price-->
                                    <col width="10%">
                                    <!--calls-->
                                    <col width="25%">
                                    <!--sms-->
                                    <col width="15%">
                                    <thead>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Calls</th>
                                    <th>SMS/MMS/Internet</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in availableTariffs" class="tariff-td">
                                        <td>{{t.tariffName}}</td>
                                        <td>PRICE</td>
                                        <td style="padding: 0;">
                                            <table width="100%" style="table-layout: fixed;" class="table table-striped">
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Calls in Network</td>
                                                    <td style="text-align: left">{{t.callsInNetwork}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Calls on other numbers</td>
                                                    <td style="text-align: left">{{t.callsOnOtherNumbers}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td style="word-wrap: break-word;">Roaming</td>
                                                    <td style="text-align: left">{{t.roaming}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="padding: 0;">
                                            <table width="100%" style="table-layout: fixed;" class="table table-striped">
                                                <tr class="tariff-td">
                                                    <td>SMS</td>
                                                    <td style="text-align: left">{{t.sms}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td>MMS</td>
                                                    <td style="text-align: left">{{t.mms}}</td>
                                                </tr>
                                                <tr class="tariff-td">
                                                    <td>Internet</td>
                                                    <td style="text-align: left">{{t.internet}}</td>
                                                </tr>
                                            </table>
                                    </tr>
                                    </tbody>
                                </table>
                                    <div class="col-sm-3">
                                        <div>
                                            <label><b>Tariffs found: {{availableTariffsFound}}</b></label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                </div>
            </div>
        <ng-include src="getFooter()"></ng-include>
    </div>
</div>
