/* COLORS
https://www.google.com/design/spec/style/color.html#color-color-palette

Red
300 = #E57373;
500 = #F44336;

=================================== */

.error-body {
    position: absolute;
    background: #F44336;
    font-family: 'Lato', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-error-page-message {
    padding-top: 75px;
}

.page-wrap {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.p-error-item, .a-error-item {
    font-size: 1em;
}

.h2-error-item {
    font-size: 4em;
}

.h2-error-item, .a-error-item {
    text-transform: uppercase;
}

.a-error-item {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 88px;
    height: 44px;
    line-height: 44px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: all .5s ease;
}

.a-error-item:hover {
    background: #E57373;
    border: 2px solid #E57373;
    width: 132px;
    color: #fff;
}
