@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.user-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(65, 65, 65); /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
}
