@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(152, 67, 67, 0.78); /* fallback for old browsers */
    background: -webkit-linear-gradient(left, rgba(152, 67, 67, 0.78), rgba(123, 177, 95, 0.76));
    background: -moz-linear-gradient(left, rgba(152, 67, 67, 0.78), rgba(123, 177, 95, 0.76));
    background: -o-linear-gradient(left, rgba(152, 67, 67, 0.78), rgba(123, 177, 95, 0.76));
    background: linear-gradient(to right, rgba(152, 67, 67, 0.78), rgba(123, 177, 95, 0.76));
    font-family: "Roboto", sans-serif;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 400px;
    margin: 100px auto;
    padding: 80px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button-if-form-ok {
    background: #596cac;
}

.button-if-invalidForm {
    background: #ff718f;
    cursor: default;
}

.button-if-form-ok, .button-if-form-ok:active, .button-if-form-ok:focus {
    background: #3d51be;
    cursor: pointer;
}

.transition-container {
    display: inline-block;
    position: absolute;
    color: white;
    font-weight: 400;
    top: 0;
    left: 0;
    background: rgba(41, 69, 147, 0.77);
}

.active {
    background: #3d51be;
}

.error {
    color: #ff2d2d;
}

.options {
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.registrations {
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.login-header-item {
    font-size: 15px;
    display: table-cell;
    border: none;
    width: 1%;
    padding: 10px;
}

.login-header-item:hover {
    cursor: pointer;
}

.submitable {
    background: #ff8e92;
    cursor: pointer;
}

.submitable:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.unsubmitable {
    background-color: gray;
}

.register-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: #383436;
    -webkit-transition: all ease;
    transition: all ease;
}

.login-page-button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: #383436;
    -webkit-transition: all ease;
    transition: all ease;
    background: #ff8e92;
}

.login-page-button:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    cursor: pointer;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}


/*PRELOADER CSS*/
.preloader {
    position: fixed;
    z-index: 300000;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader img {
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*PRELOADER CSS END*/

/*TARIFF PAGE CSS*/
#tariffTable{
    table-layout: fixed;
}
.tariff-td td{
    word-wrap:break-word;
}
/*TARIFF PAGE CSS END*/