@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(79, 117, 146, 0.76); /* fallback for old browsers */
    background: -webkit-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -moz-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -o-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: linear-gradient(to right, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    font-family: "Roboto", sans-serif;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 400px;
    margin: 100px auto;
    padding: 80px 45px 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.button-if-form-ok {
    background: #596cac;
}

.button-if-invalidForm {
    background: #ff718f;
    cursor: default;
}

.pointable-logout:hover {
    cursor: pointer;
}

.button-if-form-ok, .button-if-form-ok:active, .button-if-form-ok:focus {
    background: #3d51be;
    cursor: pointer;
}

.transition-container {
    display: inline-block;
    position: absolute;
    color: white;
    font-weight: 400;
    top: 0;
    left: 0;
    background: rgba(41, 69, 147, 0.77);
}

.active {
    background: #3d51be;
}

.error {
    font-size: 12px;
    color: #ff2d2d;
}

.options {
    text-align: center;
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.close-registration-form {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #7e7e7e;
}

.close-registration-form:hover {
    color: #1a1a1a;
}

.login-message {
    color: #b3b3b3;
    font-size: 12px;
    margin: 20px 0 5px;
    padding-bottom: 8px;
    text-align: center;
}

.login-message a {
    color: #6e71af;
    text-decoration: none;
}

.login-message a:hover {
    color: #4854af;
    text-decoration: none;
}

.registrations {
    padding-left: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.options {
    border: none;
    outline: none;
}

.login-header-item {
    font-size: 15px;
    display: table-cell;
    border: none;
    outline: none;
    width: 1%;
    padding: 10px;
}

.login-header-item:hover {
    cursor: pointer;
}

.submitable {
    background: #ff8e92;
    cursor: pointer;
}

.submitable:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.unsubmitable {
    background-color: gray;
}

.register-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: #383436;
    -webkit-transition: all ease;
    transition: all ease;
}

.login-page-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    color: #383436;
    -webkit-transition: all ease;
    transition: all ease;
    background: #ff8e92;
}

.login-page-button:hover {
    background: #7db485;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    cursor: pointer;
}

/*PRELOADER CSS*/
.preloader {
    position: fixed;
    z-index: 300000;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader img {
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*PRELOADER CSS END*/

/*TARIFF PAGE CSS*/
#tariffTable {
    table-layout: fixed;
}

.tariff-td td {
    word-wrap: break-word;
}

#fileInput {
    display: none;
}

#editFileInput {
    display: none;
}

.crop_files_images {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 16000005;
    background: #ccc;
}

.bg_crop_modal {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(36, 48, 53, 0.49);
    -webkit-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}

.ng-image-crop .zoom-handle > span {
    top: 11px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.ng-image-crop .zoom-handle {
    bottom: 1px;
    left: 122px;
    background: rgba(255, 255, 255, 0.7);
    width: 182px;
    height: 45px;
    border-radius: 50px;
}

.tariff-picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-button {
    height: 30px;
    font-size: 18px;
    background-color: #fff62f;
    text-align: center;
    border-radius: 5px;
}

.sale-picture {
    position: absolute;
    background: url("../../css/img/sale.png") 50% 50% no-repeat;
    background-size: 65px 65px;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 65px;
    text-align: center;
    padding-top: 23px;
    font-size: 18px;
    transform: rotate(-30deg);
}

.specials-picture {
    position: absolute;
    background: url("../../css/img/sale.png") 50% 50% no-repeat;
    background-size: 70px 70px;
    top: 0px;
    right: 0px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 23px;
    font-size: 16px;
    transform: rotate(-30deg);
}

.conditions-value {
    text-align: center;
    font-size: 16px;
    color: #161121;
}

.condition {
    font-size: 16px;
    color: #161121;
    text-align: left;
}

.row-one {
    background-color: #bdbdbd;
}

.row-one div {
    height: 50px;
}

.row-one div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-two {
    background-color: #ffffff;
}

.row-two div {
    height: 50px;
}

.row-two div span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-elem-in-row {
    padding-left: 6px !important;
}

/*TARIFF PAGE CSS END*/
.paginate_button {
    cursor: pointer;
}

/*MODAL WINDOW*/
.modal-window {
    width: 500px;
    height: auto;
    background-color: #f1f3f7;
}

.modal-window h3 {
    padding: 12px 0;
    background-color: #9355e9;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font: 16px "OpenSans-Regular";
    border-right: 1px solid rgba(20, 75, 143, 0.5);
    position: relative;
}

.close-icon {
    outline: none;
    position: absolute;
    right: -1px;
    top: 0;
    width: 36px;
    height: 100%;
    background: #9358e9 url(../../css/img/sprite.png) -318px -48px;
    cursor: pointer;
}

.wrap_btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.send-review {
    padding: 22px 30px 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.send-review form input, .send-review form textarea {
    width: 100%;
    border: none;
    border-left: 1px solid #f6f6f7;
    border-bottom: 1px solid #c1c3c6;
    padding: 10px 17px;
    outline: none;
    margin-bottom: 20px;
    color: #5f5f5f;
    font: 16px "OpenSans-Light";
}

.send-review form input::-webkit-input-placeholder, .send-review form textarea::-webkit-input-placeholder {
    color: #5f5f5f;
    font: 16px "OpenSans-Light";
    font-style: italic;
}

.send-review form textarea {
    margin-bottom: 15px;
    resize: none;
}

.send-review .stars-raiting {
    width: 100%;
    border-bottom: 1px solid #d3d5d9;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}

.send-review .stars-raiting .raiting-col {
    width: 40%;
    margin-bottom: 6px;
    margin-top: 4px;
}

.raiting-col .ttl-raiting {
    margin-bottom: 14px;
    font-family: "OpenSans-Light";
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.send-review input.btn-post-comment {
    border: 2px solid #3d51be;
    padding: 8px 45px;
    text-transform: uppercase;
    color: #fff;
    font: 13px "OpenSans-Semibold";
    background-color: #9358e9;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin: auto;
}

.send-review input.btn-post-comment:hover {
    background-color: transparent;
    color: #6d97d7;
}

.modal-label {
    font-size: 16px;
    text-align: center;
}

/*MODAL WINDOW END*/

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: #898900;
}

.customer-profile-row {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}