@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.registration-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(154, 157, 156, 0.76); /* fallback for old browsers */
    background: -webkit-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -moz-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: -o-linear-gradient(left, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    background: linear-gradient(to right, rgba(217, 213, 217, 0.78), rgba(154, 157, 156, 0.76));
    font-family: "Roboto", sans-serif;
}

.registration-form {
    margin-top: 40px;
}

