<div ng-include="'view/navbar.html'"></div>
<div style="margin-top: 40px" class="container">
    <div class="row">
        <div class="col-md-12 user-list">
            <div class="card users">
      <span class="fa fa-times close-user">
      </span>
                <button class="add-user-button">Add User</button>
                <table class="table">
                    <tbody>
                    <span ng-show="users.length == 0" class="user-item">
                        Please, wait. Users are being fetched from the remote db</span>
                    <tr ng-repeat="u in users">
                        <td>
                            <span class="fa fa-check-circle fa-lg"></span>
                            <span class="user-item">{{u.email}}, {{u.role.name}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-6 userForm hideMe">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header">
                            <h4 class="title">Create User</h4>
                        </div>
                    </div>
                    <div class="task-controls">
                        <a><i class="fa fa-tasks fa-lg"></i></a>
                        <a><i class="close-user fa fa-times-circle fa-lg"></i></a>
                    </div>
                </div>

                <div class="content">
                    <form ng-submit="createUser()" autocomplete="off"
                          novalidate>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>User name:</label>
                                    <input ng-model="user.userName" type="text" class="form-control"
                                           placeholder="User name">
                                </div>
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input ng-model="user.email" type="text " class="form-control" placeholder="email"/>

                                </div>
                                User role:
                                <select ng-model="user.role.id" class="custom-select">
                                    <option ng-repeat="r in roles" value="{{r.id}}">{{r.name}}</option>
                                    <!--<option value="CSR">CSR</option>-->
                                    <!--<option value="PMG">PMG</option>-->
                                </select>
                            </div>
                        </div>
                        <button type="submit"
                                class="add-user-button pull-right">
                            Submit
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
