<div ng-include="'view/navbar.html'"></div>
<div class="user-wrapper">
    <div class="form">
        <div class="transition-container">
            <ul class="options">
                <li>
                    Client Information
                </li>
            </ul>
        </div>

        <form ng-submit="updateUser()">
            <input ng-model="user.firstName" type="text" placeholder="First name"/>
            <input ng-model="user.secondName" type="text" placeholder="Second name"/>
            <input ng-model="user.lastName" type="text" placeholder="Last name"/>
            <input ng-model="user.phone" type="text"  placeholder="Phone"/>
            <button type="submit" class="login-button">
                SAVE
            </button>
        </form>
    </div>
</div>