<div class="login-wrapper">
    <div class="form">
        <div class="transition-container">
            <ul class="options">
                <li class="login-header-item" ng-click="selected = 'signIn'"
                    ng-class="{'active': selected === 'signIn'}">Sign in
                </li>
                <li class="login-header-item" ng-click="selected = 'restore'"
                    ng-class="{'active': selected === 'restore'}">Restore
                </li>
            </ul>
        </div>
        <form name="loginForm" id="loginForm" ng-show="selected === 'signIn'"
              autocomplete="off" novalidate
              ng-submit="">
            <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                <label>Email</label>
                <input name="email" type="text" id="email"
                       ng-model="user.email"
                       ng-pattern="emailPattern">

                <div ng-messages="loginForm.email.$error" role="alert" multiple>
                    <div ng-message="pattern">
                        It doesn't look like a valid email
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                <label>Password</label>
                <input name="password" type="password" id="password"
                       ng-model="user.password">
            </md-input-container>
            <p class="login-message">Not registered? <a ng-href="#/index">Create an account</a></p>
            <button ng-class="{unsubmitable : loginForm.$invalid, submitable: !loginForm.$invalid}"
                    ng-disabled="loginForm.$invalid"
                    type="submit" class="login-page-button" ng-click="loginClick()">
                login
            </button>
        </form>

        <form name="restoreForm" id="restoreForm" ng-show="selected === 'restore'"
              autocomplete="off" novalidate
              ng-submit="resetPassword()">
            <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                <label>Email</label>
                <input name="email" type="text"
                       ng-model="user.email"
                       ng-pattern="emailPattern">

                <div ng-messages="restoreForm.email.$error" role="alert" multiple>
                    <div ng-message="pattern">
                        It doesn't look like a valid email
                    </div>
                </div>
            </md-input-container>
            <button  ng-class="{unsubmitable : restoreForm.$invalid, submitable: !restoreForm.$invalid}"
                     ng-disabled="restoreForm.$invalid"
                     type="submit" class="login-page-button">
                Reset
            </button>
        </form>

    </div>
</div>