<div class="wrapper">
    <div class="form">
        <div class="transition-container">
            <ul class="options">
                <li ng-click="selected = 'signIn'"
                    ng-class="{'active': selected === 'signIn'}">Sign in
                </li>
                <li ng-click="selected = 'register'"
                    ng-class="{'active': selected === 'register'}">Register
                </li>
                <li ng-click="selected = 'restore'"
                    ng-class="{'active': selected === 'restore'}">Restore
                </li>
            </ul>
        </div>
        <form name="loginForm" id="loginForm" ng-show="selected === 'signIn'"
              autocomplete="off" novalidate
              ng-submit="">
            <input ng-model="login" name="login" type="text" placeholder="Username" required/>
            <span class="error" ng-show="loginForm.login.$dirty &&
                loginForm.login.$error.required">Username is required.</span>
            <input ng-model="password" name="password" type="password" placeholder="password" required/>
            <span class="error" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">
                Password required!</span>
            <button ng-class="{unsubmitable : loginForm.$invalid, submitable: !loginForm.$invalid}"
                    ng-disabled="loginForm.$invalid"
                    type="submit" class="register-button" ng-click="loginClick()">
                login
            </button>
        </form>

        <form name="registerForm" id="registerForm" ng-show="selected === 'register'"
              autocomplete="off" novalidate
              ng-submit="registerUser()">

            <input ng-model="user.userName" name="userName" id="userName" minlength="3"
                   type="text" placeholder="User name" required/>
            <span class="error" ng-show="registerForm.userName.$dirty &&
                registerForm.userName.$error.required">Username is required.</span>
            <span class="error" ng-show="registerForm.userName.$dirty &&
                registerForm.userName.$error.minlength">Username is too short.</span>

            <input ng-model="user.email"  name="mailInput" type="email" placeholder="email" required/>
            <div role="alert">
              <span class="error" ng-show="registerForm.mailInput.$dirty && registerForm.mailInput.$error.required">
                Email required!</span>
                <span class="error" ng-show="registerForm.mailInput.$error.email">
                Not valid email!</span>
            </div>

            <input ng-model="user.password" name="password" id="password" minlength="5"
                   type="password" placeholder="password" required/>
            <span class="error" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">
                Password required!</span>
            <span class="error" ng-show="registerForm.password.$dirty &&
                registerForm.password.$error.minlength">Password is too weak.</span>

            <button ng-class="{unsubmitable : registerForm.$invalid, submitable: !registerForm.$invalid}"
                    ng-disabled="registerForm.$invalid"
                    type="submit" class="register-button">
                Register
            </button>
        </form>

        <form name="restoreForm" id="restoreForm" ng-show="selected === 'restore'"
              autocomplete="off" novalidate
              ng-submit="resetPassword()">
            <input ng-model="resetRequest.email" name="emailInput" type="email" placeholder="Email"
                required />
            <div role="alert">
              <span class="error" ng-show="restoreForm.emailInput.$dirty && restoreForm.emailInput.$error.required">
                Email required!</span>
                <span class="error" ng-show="restoreForm.emailInput.$error.email">
                Not valid email!</span>
            </div>
            <button  ng-class="{unsubmitable : restoreForm.$invalid, submitable: !restoreForm.$invalid}"
                     ng-disabled="restoreForm.$invalid"
                     type="submit" class="register-button">
                Reset
            </button>
        </form>

    </div>
</div>
