<div class="container-fluid registration-wrapper">
    <div class="registration-form">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <div class="card">
                <div class="content">
                    <div class="row text-center">
                        <h4 style="font-weight: 500; font-size: 32px; text-transform: uppercase">Registration</h4>
                    </div>
                    <form name="registerForm" id="registerForm"
                          autocomplete="off" novalidate
                          ng-submit="registerCustomer()">
                        <div class="row">
                            <div class="col-md-4">

                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Email</label>
                                    <input name="email" id="email" ng-model="customer.email"
                                           required ng-pattern="emailPattern">

                                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">Email is required.</div>
                                        <div ng-message="pattern" class="my-message">That doesn't look like a valid
                                            email.
                                        </div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Password</label>
                                    <input name="password" type="password" id="password"
                                           ng-model="customer.password"
                                           md-minlength="8"
                                           required ng-pattern="passwordPattern">


                                    <div ng-messages="registerForm.password.$error" role="alert" multiple>

                                        <div ng-message-exp="['required', 'minlength', 'pattern']">
                                            Password is required and should be at least 8 characters long with one
                                            special character.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-4">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Phone number</label>
                                    <input name="phone" type="text" id="phone"
                                           ng-model="customer.phone"
                                           required ng-pattern="phonePattern">

                                    <div ng-messages="registerForm.phone.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            Example: +380990076563
                                        </div>
                                        <div ng-message="required">
                                            Phone is required
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>First name</label>
                                    <input name="firstName" type="text" id="firstName"
                                           ng-model="customer.firstName"
                                           ng-pattern="textFieldPattern">

                                    <div ng-messages="registerForm.firstName.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain letters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Second name</label>
                                    <input name="secondName" type="text" id="secondName"
                                           ng-model="customer.secondName"
                                           ng-pattern="textFieldPattern">

                                    <div ng-messages="registerForm.secondName.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain letters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Last name</label>
                                    <input name="lastName" type="text" id="lastName"
                                           ng-model="customer.lastName"
                                           ng-pattern="textFieldPattern">

                                    <div ng-messages="registerForm.lastName.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain letters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Region:</label>
                                    <md-select multiple required name="region"
                                               ng-model="customer.address.region.id">
                                        <md-option>Choose region</md-option>
                                        <md-option ng-repeat="r in regions" ng-value="{{r.id}}">
                                            {{r.nameRegion}}
                                        </md-option>
                                    </md-select>

                                    <div ng-messages="registerForm.region.$error" role="alert" multiple>
                                        <div ng-message="required">
                                            Sorry, region has to be specified
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Locality</label>
                                    <input name="locality" type="text" id="locality"
                                           ng-model="customer.address.locality"
                                           ng-pattern="textFieldPattern">

                                    <div ng-messages="registerForm.locality.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain letters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-2">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Street</label>
                                    <input name="street" type="text" id="street"
                                           ng-model="customer.address.street"
                                           ng-pattern="textFieldPattern">

                                    <div ng-messages="registerForm.street.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain letters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>House number</label>
                                    <input name="houseNumber" type="text" id="houseNumber"
                                           ng-model="customer.address.houseNumber">
                                </md-input-container>
                            </div>
                            <div class="col-md-3">
                                <md-input-container class="md-block" flex-gt-sm multiple md-auto-hide="false">
                                    <label>Apartment number</label>
                                    <input name="apartmentNumber" type="number" id="apartmentNumber"
                                           ng-model="customer.address.apartmentNumber"
                                           ng-pattern="numberPattern">

                                    <div ng-messages="registerForm.apartmentNumber.$error" role="alert" multiple>
                                        <div ng-message="pattern">
                                            This field can only contain positive numbers
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                        <button ng-class="{unsubmitable : registerForm.$invalid,
                        submitable: !registerForm.$invalid}"
                                ng-disabled="registerForm.$invalid"
                                style="width: 300px;"
                                type="submit" class="center-block register-button">
                            Submit
                        </button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
