<div class="wrapper">
    <div class="form">
        <div class="transition-container">
            <ul class="options">
                <li ng-click="selected = 'signIn'"
                    ng-class="{'active': selected === 'signIn'}">Sign in
                </li>
                <li ng-click="selected = 'register'"
                    ng-class="{'active': selected === 'register'}">Register
                </li>
                <li ng-click="selected = 'restore'"
                    ng-class="{'active': selected === 'restore'}">Restore
                </li>
            </ul>
        </div>
        <form ng-show="selected === 'signIn'"
              autocomplete="off" novalidate
              ng-submit="">
            <input ng-model="login" type="text" placeholder="Username"/>
            <input ng-model="password" type="password" placeholder="password"/>
            <button type="submit" class="login-button" ng-click="loginClick()">
                login
            </button>
        </form>

        <form name="registerForm" id="registerForm" ng-show="selected === 'register'"
              autocomplete="off" novalidate
              ng-submit="registerUser()">

            <input ng-model="user.userName" name="userName" id="userName" minlength="3"
                   type="text" placeholder="User name" required/>
            <span class="error" ng-show="registerForm.userName.$dirty &&
                registerForm.userName.$error.required">Username is required.</span>
            <span class="error" ng-show="registerForm.userName.$dirty &&
                registerForm.userName.$error.minlength">Username is too short.</span>

            <input ng-model="user.password" name="password" id="password" minlength="5"
                   type="password" placeholder="password" required/>
            <span class="error" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">
                Password required!</span>
            <span class="error" ng-show="registerForm.password.$dirty &&
                registerForm.password.$error.minlength">Password is too weak.</span>

            <!--<input ng-model="user.confirmPassword" name="confirmPassword" id="confirmPassword"-->
            <!--compare-to="user.password"-->
            <!--minlength="5" type="password" placeholder="repeat password" required/>-->
            <!--<span class="error" ng-show="registerForm.confirmPassword.$dirty || frm.confirmPassword.$error.compareTo">-->
            <!--Passwords don't match.</span>-->

            <input ng-model="user.email"  name="mailInput" type="email" placeholder="email" required/>
            <div role="alert">
              <span class="error" ng-show="registerForm.mailInput.$dirty && registerForm.mailInput.$error.required">
                Email required!</span>
                <span class="error" ng-show="registerForm.mailInput.$error.email">
                Not valid email!</span>
            </div>
            <button ng-class="{unsubmitable : registerForm.$invalid, submitable: !registerForm.$invalid}"
                    ng-disabled="registerForm.$invalid"
                    type="submit" class="register-button">
                Register
            </button>
        </form>


        <form ng-show="selected === 'restore'"
              autocomplete="off" novalidate
              ng-submit="resetPassword()">
            <input ng-model="resetRequest.email" type="text" placeholder="Email"/>
            <button type="submit" class="login-button">
                Reset
            </button>
        </form>

    </div>
</div>
