<select ng-model="currentRegion">
    <option ng-repeat="r in regions" value="{{r.id}}">{{r.nameRegion}}</option>
</select>
<table>
    <tr>
        <th>Tariff name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Calls in network</th>
        <th>Calls on other numbers</th>
        <th>Internet</th>
        <th>SMS</th>
        <th>MMS</th>
        <th>Roaming</th>
    </tr>
    <tr ng-repeat="t in tariffs">
        <td>{{t.tariff.tariffName}}</td>
        <td>{{t.price}}</td>
        <td>{{t.tariff.productStatus}}</td>
        <td>{{t.tariff.callsInNetwork}}</td>
        <td>{{t.tariff.callsOnOtherNumbers}}</td>
        <td>{{t.tariff.internet}}</td>
        <td>{{t.tariff.sms}}</td>
        <td>{{t.tariff.mms}}</td>
        <td>{{t.tariff.roaming}}</td>
    </tr>
</table>