<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="
    @import url(http://fonts.googleapis.com/css?family=Lato);
    font-family: 'Lato', sans-serif;
    background: rgba(80,114,177,0.76); /* fallback for old browsers */
    background: -webkit-linear-gradient(left, rgba(0,27,152,0.78), rgba(80,114,177,0.76));
    background: -moz-linear-gradient(left, rgba(0,27,152,0.78), rgba(80,114,177,0.76));
    background: -o-linear-gradient(left, rgba(0,27,152,0.78), rgba(80,114,177,0.76));
    background: linear-gradient(to right, rgba(0,27,152,0.78), rgba(80,114,177,0.76));
    ">

<h1 th:inline="text" style="font-size: 2em; padding-top: 30px; margin-left: 20px;
    color: #151515; text-transform: uppercase">Thank you for activating our service <p th:text="${serviceName}"></p></h1>
<div style="margin-left: 20px; margin-right: 20px; font-size: 1.5em">
    <p style="margin-left: 290px; color: #151515;
    padding-bottom: 40px;">
        Regards, <br/>
        <em>Phonecompany team</em>
    </p>
</div>
</body>
</html>