<div class="wrapper">
    <div class="front-page-main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="sidebar-controls navbar-brand">
                        <span class="fa fa-tasks"></span>
                    </div>
                    <h3 class="navbar-brand">Phone-company</h3>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a style="color: #245bed; text-decoration: none;" href="/#/frontPage">
                                Welcome
                            </a>
                        </li>
                        <li>
                            <a href="/#/individualPage">
                                Individual
                            </a>
                        </li>
                        <li>
                            <a href="/#/businessPage">
                                Business
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{loginOrUserPage.action}}">
                                {{loginOrUserPage.name}}
                            </a>
                        </li>
                        <li class="navbar-brand">
                            Region:
                        </li>
                        <li>
                            <md-input-container>
                                <md-select ng-model="currentRegion" ng-change="change(currentRegion)">
                                    <md-option ng-repeat="r in regions" value="{{r.id}}">
                                        {{r.nameRegion}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><b>{{campaign.name}}</b></h4>
                                <p>{{campaign.description}}</p>
                            </div>
                            <hr/>
                            <div class="header">
                                <h4 class="title"><b>{{campaign.tariffRegion.tariff.tariffName}}</b></h4>
                            </div>
                            <div class="row" style="margin: 0; padding: 20px;">
                                <div class="col-md-4">
                                    <div class="tariff-picture">
                                        <img ng-src="{{campaign.tariffRegion.tariff.pictureUrl}}" width="90%"/>
                                        <div class="specials-picture"><b>Specials</b></div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row" style="text-align: center; font-size: 20px;">
                                        <b>Conditions</b>
                                    </div>
                                    <div class="row row-one">
                                        <div class="col-md-8 condition">
                                            <span>Calls in network</span>
                                        </div>
                                        <div class="col-md-4 conditions-value">
                                            <span><b>{{campaign.tariffRegion.tariff.callsInNetwork}}</b></span></div>
                                    </div>
                                    <div class="row row-two">
                                        <div class="col-md-8 condition"><span>Calls on other numbers</span></div>
                                        <div class="col-md-4 conditions-value">
                                            <span><b>{{campaign.tariffRegion.tariff.callsOnOtherNumbers}}</b></span>
                                        </div>
                                    </div>
                                    <div class="row row-one">
                                        <div class="col-md-8 condition"><span>Roaming</span></div>
                                        <div class="col-md-4 conditions-value"><span><b>{{campaign.tariffRegion.tariff.roaming}}</b></span>
                                        </div>
                                    </div>
                                    <div class="row row-two">
                                        <div class="col-md-8 condition"><span>Internet</span></div>
                                        <div class="col-md-4 conditions-value"><span><b>{{campaign.tariffRegion.tariff.internet}}</b></span>
                                        </div>
                                    </div>
                                    <div class="row row-one">
                                        <div class="col-md-8 condition"><span>SMS</span></div>
                                        <div class="col-md-4 conditions-value"><span><b>{{campaign.tariffRegion.tariff.sms}}</b></span></div>
                                    </div>
                                    <div class="row row-two">
                                        <div class="col-md-8 condition"><span>MMS</span></div>
                                        <div class="col-md-4 conditions-value"><span><b>{{campaign.tariffRegion.tariff.mms}}</b></span></div>
                                    </div>
                                    <div class="row row-one">
                                        <div class="col-md-8 condition"><span>Monthly payment</span></div>
                                        <div class="col-md-4"
                                             style="text-align: center; font-size: 16px; color: #161121"
                                             ng-hide="campaign.tariffRegion.tariff.discount > 0 &&
                                             campaign.tariffRegion.tariff.discount <=100"><span>
                                            <b>{{campaign.tariffRegion.tariff.price | number:2}} uah</b></span>
                                        </div>
                                        <div class="col-md-4 conditions-value"
                                             ng-show="campaign.tariffRegion.tariff.discount > 0
                                             && campaign.tariffRegion.tariff.discount <= 100">
                                            <span><b>{{campaign.tariffRegion.tariff.price * (1 - campaign.tariffRegion.tariff.discount/100) | number: 2}} uah</b><br>
                                                <s style="font-size: 14px; color: red">{{campaign.tariffRegion.tariff.price | number: 2}} uah</s></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="ms in campaign.services">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title">{{ms.service.serviceName}}</h4>
                                    </div>
                                    <hr/>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-offset-1">
                                                <div style="width: 360px; height: 240px;">
                                                    <img class="rounded img-thumbnail"
                                                         style="width: 360px; height: 240px"
                                                         ng-src="{{ms.service.pictureUrl}}"
                                                         class="rounded" alt="Image not found">
                                                </div>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1">
                                                <table class="table table-striped table-hover
                                            table-bordered" style="table-layout: fixed">
                                                    <tbody>
                                                    <tr>
                                                        <td>Price</td>
                                                        <td>
                                                            <div ng-hide="ms.service.discount > 0
                                                        && ms.service.discount < 100"
                                                                 class="service-price-individual"
                                                                 style="text-decoration: line-through">
                                                                {{ms.service.price | number : 2}} &#8372;
                                                            </div>
                                                            <div ng-show="ms.service.discount > 0
                                                        && ms.service.discount < 100"
                                                                 class="service-price-individual"
                                                                 style="text-decoration: line-through">
                                                                {{ms.service.price * (1 - ms.service.discount / 100) |
                                                                number : 2}} &#8372;
                                                            </div>
                                                            <div style="font-weight: 700"
                                                                 class="service-price-individual-discounted">
                                                                {{ms.price | number : 2}} &#8372;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Duration</td>
                                                        <td>
                                                            {{ms.service.durationInDays}} days
                                                        </td>
                                                    </tr>
                                                    <tr ng-show ="ms.service.amount !== 0">
                                                        <td>Amount</td>
                                                        <td>{{ms.service.amount}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="word-wrap: break-word">
                                                            {{ms.service.description}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            <button class="btn btn-info btn-fill col-md-8 col-md-offset-2"
                                    ng-click="backClick()">
                                Back
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <ng-include src="getFooter()"></ng-include>
    </div>
</div>
